﻿@model OzoneUI.Models.POModels

@{
    ViewBag.Title = "Purchase Order";
}
<title>Purchase Order</title>
<style>
    .widget-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
    }

    .widget-subtitle {
        margin-bottom: 7px;
        font-size: 16px;
        font-weight: 400;
    }
</style>
<div>
    <div style="padding:20px;">
        <img src="~/img/ozone_logo.png" width="150px" height="80px" />
    </div>
    <div style="text-align:center">
        <h1><b> GRN for PO# @Html.DisplayFor(model => model.PO_Number)</b></h1>
    </div>
    <div style="width:100%;padding:20px;">
        <div style="float:left;width:50%;padding-left:50px;">

            <!-- START WIDGET SLIDER -->

            <div class="widget-title">Date:<b>@Html.DisplayFor(model => model.PO_Date, "{0:d}")</b></div>
            <div class="widget-title"><b>Vendor Details</b></div>
            <div class="widget-subtitle"><b>Name:</b> @Html.DisplayFor(model => model.Ship_Name)</div>
            <div class="widget-subtitle"><b>Company Name:</b> @Html.DisplayFor(model => model.Ship_Compny)</div>
            <div class="widget-subtitle"><b>Address:</b> @Html.DisplayFor(model => model.Ship_Address) </div>
            <div class="widget-subtitle"><b>City:</b> @Html.DisplayFor(model => model.Ship_City), @Html.DisplayFor(model => model.Ship_State),@Html.DisplayFor(model => model.Ship_Zip_code)  </div>
            <div class="widget-subtitle"><b>Phone:</b> @Html.DisplayFor(model => model.Ship_Phone)</div>
            <div class="widget-subtitle">&nbsp;</div>


            <!-- END WIDGET SLIDER -->

        </div>
        <div style="width: 50%; float: left; padding-left: 50px;">

            <!-- START WIDGET SLIDER -->

            <div class="widget-subtitle"><b>Purchae Order#: </b>@Html.DisplayFor(model => model.PO_Number)</div>
            <div class="widget-subtitle"><b>GRN#: </b>@Html.DisplayFor(model => model.GRN)</div>

            @*<div class="widget-subtitle"><b>Vendor:</b> </div>
                <div class="widget-subtitle"><b>Order Date:</b> @Html.DisplayFor(model => model.PO_Date, "{0:d}") </div>*@

            <div class="widget-subtitle"><b>Payment Terms:</b> @Html.DisplayFor(model => model.Payment_Terms)</div>
            <div class="widget-subtitle"><b>Transport:</b>@Html.DisplayFor(model => model.Transport)</div>
            <div class="widget-subtitle">&nbsp;</div>

            <!-- END WIDGET SLIDER -->

        </div>

        <table class="table">
            <tr>
                <th>
                    Product Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Packaging
                </th>

                <th>
                    Quantity
                </th>


            </tr>

            @foreach (var item in Model.lstPOI)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Packaging)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Total_Qty)
                    </td>

                </tr>
            }

        </table>

        <div style=" padding-left: 50px; ">

            <div class="widget-subtitle">
                @*<span style="text-transform:uppercase"><b>Grand Total  @Html.DisplayFor(model => model.cureencyName)  @Html.DisplayFor(model => model.amountinnumber)</b> </span>*@
                @*<b> Documentation Required:</b>
                    @Html.LabelFor(model => model.Document_Req)*@
                @*@if (model => model.Document_Req)
                    {
                        <label>Yes</label>
                    }
                    else
                     {
                              <label>No</label>
                     }*@
                <div style="float:right">
                    @*Grand Total :@Html.DisplayFor(model => model.lstPOI[0].CurrencyCode) @Html.DisplayFor(model => model.Grand_Total)*@
                </div>
            </div>

            <div style="padding:20px;">
                <div><b>Thank you for your business!</b></div><div style="float:right">Checked and Prepared by - Signature</div><br />
                <div>All the products should be in line to the samples provided.</div><br />
                <div>Any prodycts differing from samples will be returned at the expense of the vendor.</div>
            </div>
        </div>
    </div>



</div>