﻿@model  IEnumerable<Ozone.DAL.INVENTORY>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

                      @Scripts.Render("~/bundles/notify")



    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Dead Stock</h3>
                    </div>
                    <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>
                    <div class="pull-right">

                        @using (Html.BeginForm())
                        {
                            @Html.EditorForModel()
                            <br />
    <input type="submit" class="btn btn-info " name="save" value="Export Stock"
           formaction="ExportData" formmethod="post" />
    <input type="submit" id="exc" name="cancel" class="btn btn-info " value="Export Dead Stock"
           formaction="ExportDeadStock" formmethod="post" />
                        }
                        @*@using (Html.BeginForm("ExportData", "DeadStock", null,
                       FormMethod.Post, new { @class = "example",  }))
{
    <input type="submit" class="btn btn-info mb-control" value="Export Stock" />
}
                        @using (Html.BeginForm("ExportDeadStock", "DeadStock", null,
                       FormMethod.Post, new { @class = "example" }))
                        {
                            <input type="submit" class="btn btn-info mb-control" value="Export Dead Stock" />
                        }*@
                      <div id="btndiv"></div>

   



                    </div>
                    <div class="panel-body">
                        <table id="deadstock" class="table ">
                            <thead><tr><th>PO Id</th><th>Product Name</th><th>Qty</th><th>Package</th><th>Units</th><th>Action</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["id"]);
            GetCategoryJSON();
            $("#exc").click(function () {
                $("#btndiv").append(" <a class='btn btn-info mb-control' id='btnclosestock' onclick='updatedeadstock()'>Clost Stock</a>");
              
            });
           
        });

        function GetCategoryJSON() {
            $('#deadstock').dataTable({
                "bDestroy": true
            }).fnDestroy();

            window.table = $('#deadstock').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/DeadStock/GetDeadStock",
                "columns": [
                    { "data": "Order_Type" },
                    { "data": "PRODUCT_DETAILS.Product_Title" },
                    { "data": "Product_Qty" },
                    { "data": "Package" },
                    { "data": "Units" },
                    { "data": "" }
                ],
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<a id='edt' class='btn btn-default btn-rounded btn-sm' >As PO</a>"
                }],
                "bDestroy": true


            });
            $('#deadstock th:first').removeClass('sorting_asc');
            $('#deadstock tbody').unbind().on('click', 'a', function () {

                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {

                    EditCategory(data.Product_Qty, data.Pk_Inventory_Id);
                }
                 


            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {
            debugger;
            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;

            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }
        function EditCategory(maxqty,stockid) {

            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, PO: 'success' });
            div.load("/DeadStock/MoveStock?maxqty=" + maxqty + "&stockid=" + stockid, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }
        function updatedeadstock() {
            $('#btnclosestock').button('loading');
            $.ajax({
                url: '/DeadStock/UpdateallDeadStock',
                type: 'POST',
                data: '',
                dataType: 'json',
                success: function (data) {
                    $('#savebutton').button('reset');
                    debugger;
                    if (data.status) {

                        ModalResponce(data.message, true);
                    }
                    else {
                        ModalResponce(data.message, false);
                    }

                },
                error: function () {
                    $('#saveItem').button('reset');

                    $('#msg').html('<div class="failed">Error! Please try again.</div>');
                }
            });
        }
    </script>

