﻿@{
    Layout = null;
}
<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Update Purchase Order Status</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="form-group">
                              
                               
                                <h4 class="modal-title">How much quantity you want to move on live?</h4>
                                <input id="qtymove" max="@ViewBag.maxqty" name="qtymove" type="number" min="0" oninput="validity.valid || (value = '');" class="form-control"></div>
                            <input type="hidden" name="hidstockid" id="hidstockid" value="@ViewBag.stockid" />
                             <div class="form-group">
                                 <div class="col-md-6">
                                     <a  id="savebutton" onclick="savedeadstock();" class="btn btn-info mb-control">Update</a>
                                 </div>
                                <div class="col-md-2">
                                    <button type="submit" data-dismiss="modal" id="cancelBtn" class="btn btn-info mb-control">Cancel</button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function savedeadstock() {
        var stockid = $("#hidstockid").val();
        var qtytomove = $("#qtymove").val();
        $('#savebutton').button('loading');
        $.ajax({
            url: '/DeadStock/TransferDS?id=' + stockid + '&qty=' + qtytomove,
            type: 'POST',
            data: '',
            dataType: 'json',
            success: function (data) {
                $('#savebutton').button('reset');
                debugger;
                if (data.status) {

                    ModalResponce(data.message, true);
                }
                else {
                    ModalResponce(data.message, false);
                }

            },
            error: function () {
                $('#saveItem').button('reset');

                $('#msg').html('<div class="failed">Error! Please try again.</div>');
            }
        });
    }
</script>