﻿@model OzoneUI.Models.DashboardModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<ul class="breadcrumb">
    <li><a href="#">Home</a></li>

    <li class="active">Dashboard</li>
    <li>Welcome : <label id="lblUser"></label></li>

</ul>*@


<div class="page-content-wrap">

    <div class="row">
        <br />
        <div class="col-md-6">
           <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Sales Order</h3>                
                </div>
                
                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th style="min-width: 160px;">Date</th><th>Order Number</th><th>Name</th><th>Payment Status</th><th>Amt</th></tr></thead>
                        <tbody>

                            @foreach (var item in Model.lstCart)
                            {
                            <tr>
                                <td>
                                    @item.Create_Date.ToString("dd/MM/yyyy")
                                    
                                </td>

                                <td >
                                @{
                                var link = "/Invoice_Generate/" + item.USER_REGISTRATION.Company_Name + "/" + item.Order_Number+"/"+ item.Order_Number + ".pdf";
                                }
                                    <a href='@link' target="_blank">@item.Order_Number</a></td>
                                <td>
                                    @item.Full_Name
                                </td>
                               
                                <td>
                                    @item.Payment_Status
                                </td>
                                <td>
                                    £@item.Payment_Amt
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Purcahse Order</h3>
                </div>

                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th style="min-width: 160px;">Date</th><th>PO. Number</th> <th>PO. Status</th></tr></thead>
                        <tbody>

                            @foreach (var item in Model.lstPO)
                            {
                                <tr>
                                    <td>
                                        @item.PO_Date.ToString("dd/MM/yyyy")

                                    </td>

                                    <td>
                                        @{
                                var link = "/PO_Generate/" + item.Ship_Name + "/" + item.PO_Number + "/" +item.PO_Number +".pdf";
                                        }
                                      <a href="@link" target="_blank">  @item.PO_Number</a>

                                    </td>
                                    

                                    <td>
                                        @item.PO_Status
                                    </td>
                                     
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hot Buyers</h3>
                </div>

                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th>Buyers</th><th>Order No.</th></tr></thead>
                        <tbody>

                            @foreach (var item in Model.lstCart)
                            {
                                <tr>
                                    <td>
                                        @{
                                var link = "/Invoice_Generate/" + item.USER_REGISTRATION.Company_Name + "/" + item.Order_Number + "/" + item.Order_Number + ".pdf";
                                        }
                                             @item.USER_REGISTRATION.Company_Name

                                    </td>
                                    <td>
                                        <a href="@link" target="_blank">     @item.Order_Number </a>

</td>
                                     
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Summury </h3>
                </div>

                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th>Payment Status</th><th>Amount</th></tr></thead>
                        <tbody>

                            @foreach (var item in Model.lstPayment)
                            {
                                <tr>
                                    <td>
                                        @item.Payment_Status

                                    </td>
                                    <td>
                                        £@item.Payment_Amt

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice Summury </h3>
                </div>

                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th>Sales order Number</th><th>Invoice No.</th><th>Due Amount</th><th>Due date</th><th>Days remain</th></tr></thead>
                        <tbody>

                            @foreach (var item in Model.lstinvoice)
                            {

                                if (Convert.ToInt32( item.UserName)<0)
	{
                                    <tr style="background-color:red; color:white">

                                        <td>
                                            @item.Salesordernumber

                                        </td>
                                        <td>
                                            @item.InvoiceOrder
                                        </td>
                                        <td>
                                            £@item.TotalPayment

                                        </td>
                                        <td>
                                            @item.DueDate
                                        </td>
                                        <td>
                                            @item.UserName
                                        </td>

                                    </tr>
    }
                                else
                                {
                                    <tr>

                                        <td>
                                            @item.Salesordernumber

                                        </td>
                                        <td>
                                            @item.InvoiceOrder
                                        </td>
                                        <td>
                                            £@item.TotalPayment

                                        </td>
                                        <td>
                                            @item.DueDate
                                        </td>
                                        <td>
                                            @item.UserName
                                        </td>

                                    </tr>
                                }


                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- START PAGE SIDEBAR -->
<!-- END PAGE SIDEBAR -->
<!-- PAGE CONTENT -->

<!-- END PAGE CONTENT -->
<!-- END PAGE CONTAINER -->
<!-- MESSAGE BOX-->
<!-- END MESSAGE BOX-->
<!-- START PRELOADS -->
<!-- END PRELOADS -->
<!-- START SCRIPTS -->
<!-- START PLUGINS -->

<!-- END TEMPLATE -->
<!-- END SCRIPTS -->
