﻿    @model  IEnumerable<Ozone.DAL.CATEGORY_MASTER>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")

 

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12"><br />
                <p>
                    <input type="button" class="btn btn-info mb-control" value="Add new Category" onclick="CreateCategory()" />

                </p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Category</h3>
                        <ul class="panel-controls">

                            <li><input id="txtSeach" type="text" class="form-control" name="name" value="" onchange="SearchText(this.value);" placeholder="Search... " /></li>
                        </ul>
                        @*<ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>*@
                    </div>
                    <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>

                    <div class="panel-body">
                        <table id="Category" class="table ">
                            <thead><tr><th>Category Name</th><th>Category Description</th><th>Action</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["id"]);
            GetCategoryJSON();
        });
        function SearchText(srch) {
            GetCategoryJSON();
        }
        function GetCategoryJSON() {
            $('#Category').dataTable({
                "bDestroy": true
            }).fnDestroy();
            var search = $('#txtSeach').val();
            window.table = $('#Category').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/Category/GetCategory?search=" + search ,
                "columns": [
                  
                    { "data": "Category_Name" },
                    { "data": "Category_Description" },
                    { "data": "" }

                ],
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>"
                }],
                "bDestroy": true


            });
            $('#Category th:first').removeClass('sorting_asc');
            $('#Category tbody').unbind().on('click', 'button', function () {

                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {

                    EditCategory(data.Pk_Category_Id);
                }
                if ($(this).attr('id') == 'del') {
                    DeleteCategory(data.Pk_Category_Id);
                }


            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;

            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }
        function EditCategory(B_ID) {

            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/Category/Create?Categoryid=" + B_ID, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }

        function CreateCategory() {

            var div = $("#OpenDilog");
            // div.modal('show', { backdrop: 'static' });
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/Category/Create", function () {

                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            }, function (responseText, textStatus, XMLHttpRequest) {

                // XMLHttpRequest.responseText has the error info you want.
                alert(XMLHttpRequest.responseText);
            });
            //$.ajax({
            //    type: 'GET',
            //    url: '/CategoryView/Create',

            //    success: function (data) {
            //
            //        $("update", {
            //                   value: 100, speed: 5, complete: function () {
            //                       $(".mpb").fadeOut(200, function () {
            //                            $(this).remove();
            //                        });
            //                    }
            //                });
            //        $("#OpenDilog").html(data);
            //        $("#OpenDilog").modal('show', { backdrop: 'static' });
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //
            //        console.log(textStatus, errorThrown);
            //    }
            //});
        }

        function DeleteCategory(boardid) {
            if (confirm("Are You Sure to Delete ? ")) {
                $.ajax({
                    url: "/Category/Delete/" + boardid,
                    type: "post",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        setTimeout(function () { GetCategoryJSON() }, 500);
                        //if (data.status) {
                            ModalResponce(data, true);
                        //}
                        //else {
                        //    ModalResponce(data.message, false);
                        //}
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }

                });
               

            }
        }

        //?baordId=" + B_ID

    </script>

