﻿@model  OzoneUI.Models.UsrRegisterModels

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")
@Scripts.Render("~/bundles/datepicker")

    @*<ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Purchase Order</li>
        <li>Welcome : <label id="lblUser"></label></li>
    </ul>*@
    
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <br />
                <p>
                    <input type="button" class="btn btn-info mb-control" value="Add new Purchase Order" onclick="CreatePO()" />

                </p>
                <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Purchase Order</h3>
                        <ul class="panel-controls">
                            <li style="margin-right:6px"><input type="text" class="form-control dt"  id="txtfromdate" placeholder="From Date" /> </li>
                            <li style="margin-right:6px"><input type="text" class="form-control dt" id="txttodate" placeholder="to Date" /></li>
                            <li style="margin-right:6px">@Html.DropDownList("ddlCustId", new SelectList(Model.lstUSR, "Pk_Register_Id", "Company_Name"), "--Select Cust.ID--", new { @class = "form-control select", data_live_search = "true", @onChange = "SearchText(this.value)" })</li>
                            <li style="margin-right:6px"><input type="text" class="form-control" id="txtponumber" placeholder="Enter PO number" /> </li>
                            <li style="margin-right:6px"><button href="#" class="btn btn-default" onclick="SearchText()">Search</button></li>

                        </ul>
                    </div>
                    @*<div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                        </div>*@

                    <div class="panel-body">
                        <div class="pull-right">
                            <select id="selid">
                                <option>--ALL--</option>
                                <option value="Pending">Pending</option>
                                <option value="Partially Received">Partially Received</option>
                                <option value="Acknowledge">Acknowledge</option></select>
                        </div>
                        <table id="tbPO" class="table ">
                            <thead><tr><th>PO Date</th><th>PO Number</th><th>Vendor</th><th>Status</th><th>Change</th><th>Action</th><th>Action</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["id"]);
            GetPOJSON();
            $(".dt").datepicker("option", "dateFormat", "dd/mm/yyyy");
        });

        function GetPOJSON() {
            debugger;
            $('#tbPO').dataTable({
                "bDestroy": true
            }).fnDestroy();
            debugger;
            var fromdate = $("#txtfromdate").val();
            var todate = $("#txttodate").val();
            var vid = $("#ddlCustId").val() == "" ? 0 : $("#ddlCustId").val();
            var ponum = $("#txtponumber").val();
            

            window.table = $('#tbPO').DataTable({
       
                "processing": true,
                "serverSide": true,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                'searching': false, "bSort": false,
                "ajax": "/PurchaseOrder/GetPO?startdate=" + fromdate + "&enddate=" + todate + "&vid=" + vid + "&ponumber=" + ponum,
                "columns": [
                    { "data": "PO_Date" },
                    { "data": "PO_Number" },
                    { "data": "USER_REGISTRATION.Company_Name" },
                  
                    { "data": "PO_Status" },
                     { "data": "PO_Status" },
                    { "data": "" }
                ],
                "columnDefs": [{
                    "targets": 4,
                    "data": "PO_Status",
                    "render": function (data, type, full, meta) {
                        debugger;
                       // return "<button id='btnStatus' class='btn btn-default btn-rounded btn-sm' >Receieve</button>";
                        if (data == 'Shipped' || data=="Partially Received") {
                            return "<button id='btnStatus' class='btn btn-default btn-rounded btn-sm' >Receive</button>";
                        }
                        else if (data == 'Received') {
                            return '';
                        }
                        else {
                            return "Waiting for approval";
                        }
                        
                    }                    
                }, {
                    "targets": 5,
                    "data": null,
                    "render": function (data, type, full, meta) {
                        if (full['PO_Status'] == 'Received') {
                            return "<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>";
                        } else {
                            return "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>";
                        }
                    }
                    //"defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>"
                }, {
                    "targets":6,
                    "data": null,
                    "render": function (data, type, full, meta) {
                        return "<a href='/PurchaseOrder/ListofGRN?Poid=" + full['Pk_PurchaseOrder_Id'] + "'>List of GRNS</a>";
                    }
                    //"defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>"
                },{
                    "targets": 0,
                    "data": "exam.Exam_Date",
                    "render": function (data, type, full, meta) {
                        debugger;
                        var t1 = data.split("T");
                        var from = t1[0].split("-");
                       // var date = new Date(from[0], from[2]-1 , from[1]);

                        //var month = date.getMonth() + 1;
                        return from[2] + "/" + from[1] + "/" + from[0];
                    }
                },
                ],
                "bDestroy": true

            });
            $('#tbPO th:first').removeClass('sorting_asc');
            $('#tbPO tbody').unbind().on('click', 'button', function () {
                debugger;
                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {
                    EditPO(data.Pk_PurchaseOrder_Id);
                }
                if ($(this).attr('id') == 'del') {
                    DeletePO(data.Pk_PurchaseOrder_Id);
                } 
                if ($(this).attr('id') == 'btnStatus') {
                    debugger;
                    myfunction(data.Pk_PurchaseOrder_Id)
                }
            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }
        function EditPO(B_ID) {
             
            var url = "/PurchaseOrder/Create?POid=" + B_ID;
            window.location.href = url;
            //var div = $("#OpenDilog");
            //$.mpb('show', { value: [0, 30], speed: 10, PO: 'success' });
            //div.load("/Packaging/Create?POid=" + B_ID, function () {
            //    $.mpb("update", {
            //        value: 100, speed: 5, complete: function () {
            //            $(".mpb").fadeOut(200, function () {
            //                $(this).remove();
            //            });
            //        }
            //    });
            //    div.modal('show', { backdrop: 'static' });
            //});
        }

        function CreatePO() {            
            var url = "/PurchaseOrder/Create?POid=0";
            window.location.href = url;
            //var div = $("#OpenDilog");
            //$.mpb('show', { value: [0, 30], speed: 10, PO: 'success' });
            //div.load("/Packaging/Create", function () {
            //    $.mpb("update", {
            //        value: 100, speed: 5, complete: function () {
            //            $(".mpb").fadeOut(200, function () {
            //                $(this).remove();
            //            });
            //        }
            //    });
            //    div.modal('show', { backdrop: 'static' });
            //}, function (responseText, textStatus, XMLHttpRequest) {
            //    alert(XMLHttpRequest.responseText);
            //});

        }

        function DeletePO(boardid) {
            debugger;
            try {
                if (confirm("Are You Sure to Delete ? ")) {
                    $.ajax({
                        url: "/PurchaseOrder/Delete/" + boardid,
                        type: "post",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            setTimeout(function () { GetPOJSON() }, 500);
                            //if (data) {
                                ModalResponce(data, true);
                            //}
                            //else {
                            //    ModalResponce(data.message, false);
                            //}
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }

                    });
                    

                }
            } catch (e) {
                alert(e.message);
            }
           
        }

        function myfunction(num) {
            debugger;
            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, PO: 'success' });
            div.load("/PurchaseOrder/ViewItems?POid=" + num, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
            //debugger;            
            //$.ajax({
            //    contentType: 'application/json; charset=utf-8',
            //    dataType: 'json',
            //    url: '/PurchaseOrder/ViewItems?POid=' + num ,
            //    type: 'POST',
            //    success: function (data) {
            //        debugger;
            //        if (data.status) {
            //            ModalResponce(data.message, true);
            //        }
            //        else {
            //            ModalResponce(data.message, false);
            //        }
            //    },
            //    error: function () {
            //        debugger;
            //        $('#savebutton').button('reset');

            //        $('#msg').html('<span class="help-block">Error! Please try again.</span>');
            //    }
            //});
        }
        //?baordId=" + B_ID
        function SearchText() {
            GetPOJSON();
        }
    </script>
