﻿@model  IEnumerable<Ozone.DAL.STATE_MASTER>


    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")

    @*<ul class="breadcrumb">
        <li><a href="#">Home</a></li>

        <li class="active">State</li>
        <li>Welcome : <label id="lblUser"></label></li>

    </ul>*@

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <br />
                <p>
                    <input type="button" class="btn btn-info mb-control" value="Add new State" onclick="CreateState()" />

                </p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of State</h3>
                        <ul class="panel-controls">

                            <li><input id="txtSeach" type="text" class="form-control" name="name" value="" onchange="SearchText(this.value);" placeholder="Search... " /></li>
                        </ul>
                        @*<ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>*@
                    </div>
                    <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>

                    <div class="panel-body">
                        <table id="State" class="table ">
                            <thead><tr><th>Country</th><th>State</th><th>State Code</th><th>Action</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["id"]);
            GetStateJSON();
        });
        function SearchText(srch) {
            GetStateJSON();
        }
        function GetStateJSON() {
            $('#State').dataTable({
                "bDestroy": true
            }).fnDestroy();
            var search = $('#txtSeach').val();
            window.table = $('#State').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/StateView/GetState?search=" + search ,
                "columns": [
                    { "data": "COUNTRY_MASTER.Country_Name" },
                    { "data": "State_Name" },
                    { "data": "State_Code" },
                    { "data": "" }

                ],
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>"
                }],
                "bDestroy": true


            });
            $('#State th:first').removeClass('sorting_asc');
            $('#State tbody').unbind().on('click', 'button', function () {

                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {

                    EditState(data.Pk_State_Id);
                }
                if ($(this).attr('id') == 'del') {
                    DeleteState(data.Pk_State_Id);
                }


            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;

            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }
        function EditState(B_ID) {

            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
            div.load("/StateView/Create?Stateid=" + B_ID, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }

        function CreateState() {

            var div = $("#OpenDilog");
            // div.modal('show', { backdrop: 'static' });
            $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
            div.load("/StateView/Create", function () {

                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            }, function (responseText, textStatus, XMLHttpRequest) {

                // XMLHttpRequest.responseText has the error info you want.
                alert(XMLHttpRequest.responseText);
            });
            //$.ajax({
            //    type: 'GET',
            //    url: '/StateView/Create',

            //    success: function (data) {
            //
            //        $("update", {
            //                   value: 100, speed: 5, complete: function () {
            //                       $(".mpb").fadeOut(200, function () {
            //                            $(this).remove();
            //                        });
            //                    }
            //                });
            //        $("#OpenDilog").html(data);
            //        $("#OpenDilog").modal('show', { backdrop: 'static' });
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //
            //        console.log(textStatus, errorThrown);
            //    }
            //});
        }

        function DeleteState(boardid) {
            if (confirm("Are You Sure to Delete ? ")) {
                $.ajax({
                    url: "/StateView/Delete/" + boardid,
                    type: "post",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        setTimeout(function () { GetStateJSON() }, 500);
                        //if (data.status) {
                            ModalResponce(data.message, true);
                        //}
                        //else {
                        //    ModalResponce(data.message, false);
                        //}
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }

                });
                

            }
        }

        //?baordId=" + B_ID

    </script>
