﻿
@{
    ViewBag.Title = "GetStatement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Statement </h3>
                    <ul class="panel-controls" style="display:none">

                       
                    </ul>
                </div>
                <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                </div>

                <div class="panel-body">
                    <table id="Product" class="table ">
                        <thead><tr><th>Client Name</th> <th>SO Number</th><th>Total Order Payment(£)</th><th>Invoice(£)</th><th>Recived(£)</th><th>Action</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#lblUser').val('@Session["UserType"]');
            $('#lblCount').text($('#lblcnt').text());
            GetItemsJSON();
        });

        function GetItemsJSON() {
            debugger;
            $('#Product').dataTable({
                "bDestroy": true
            }).fnDestroy();
            var srch  = $('#txtSeach').val();
            var CustNo = $('#ddlCustId').val();
            var ClientNm = $('#ddlClintNm').val();
            var Status = $('#ddlPayStat').val();
            window.table = $('#Product').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/AccountSummary/GetStatementData",
                "columns": [
                    { "data": "UserName" },
                     { "data": "Salesordernumber" },
                     { "data": "totalorderpayment" },
                     { "data": "TotalPayment" },
                      { "data": "ReceivePayment" },
                      {"data": ""}
                ],
                "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last=null;
 
                    api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            $(rows).eq( i ).before(
                                '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                            );
 
                            last = group;
                        }
                    } );
                }, "columnDefs": [
            { "visible": false, "targets": 0 }, {
                "targets": -1,
                "data": "exam.Create_Date",
                "render": function (data, type, full, meta) {
                    return "<a href='/UserCart/ListOfInvoice?Poid=" + full['orderid'] + "'>List of Invoices</a>";
                }
            }
                ],

                "bDestroy": true
            });
            $('#Product th:first').removeClass('sorting_asc');
            $('#Product tbody').unbind().on('click', 'a', function () {
                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'viewPO') {
                    var url = '../UserCart/GetCart?status=' + data.Payment_Status;
                    window.open(url);
                }
            });
        }

        function SearchText(srch) {
            GetItemsJSON();
        }
</script>
