﻿@model Ozone.DAL.InvoiceTab
@{
    Layout = null;
}
@Scripts.Render("~/bundles/datepicker")
<div>
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add InvoicePayment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">

                                        <label class="control-label col-md-3">Total Payment</label>

                                        <div class="col-md-9">
                                            <label class="form-control">@Model.TotalCost</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="control-label col-md-3">Remaining Payment</label>

                                        <div class="col-md-9">
                                            <label class="form-control">@Model.RemeainCost</label>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="control-label col-md-3">Recived Payment</label>



                                        <div class="col-md-9">
                                            <input id="qtymove" max="@Model.RemeainCost" name="qtymove" type="number" min="0" oninput="validity.valid || (value = '');" class="form-control col-md-9">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="control-label col-md-3">Recived Date</label>



                                        <div class="col-md-9">
                                            <input id="qtydate" name="qtydate" type="text" data-date-format="dd/mm/yyyy" class="form-control dt">
                                        </div>
                                    </div>
                                   

                                    <input type="hidden" name="hidstockid" id="hidstockid" value="@Model.PK_Invoice_Id" />
                                    <div class="form-group">
                                        <div class="col-md-3">
                                           
                                        </div>
                                        <div class="col-md-9">
                                            <a id="savebutton" onclick="Addpayment();" class="btn btn-info mb-control">Update</a>
                                            <button type="submit" data-dismiss="modal" id="cancelBtn" class="btn btn-info mb-control">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".dt").datepicker();
    function Addpayment() {
        var invid = $("#hidstockid").val();
        var invdate = $("#qtydate").val();
        var recamt = $("#qtymove").val();

        var datass = { "PK_Invoice_Id": invid, "TotalCost": recamt, "UpdatDate": invdate };


        $('#savebutton').button('loading');
        $.ajax({
            url: '/UserCart/AddInvoicePayment',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: JSON.stringify(datass),
            dataType: 'json',
            success: function (data) {
                $('#savebutton').button('reset');
                debugger;
                if (data=="suc") {

                    ModalResponce("Payment added successfully", true);
                }
                else {
                    ModalResponce("Error", false);
                }

            },
            error: function () {
                $('#saveItem').button('reset');

                $('#msg').html('<div class="failed">Error! Please try again.</div>');
            }
        });
    }
</script>