﻿@model OzoneUI.Models.CartModels

@{
    ViewBag.Title = "CheckOutProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/plugins/jquery-validation/jquery.validate.js")"></script>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <h2>Check Out Process</h2>

                @if(Session["payment"] != null)
                {
                    if (Session["payment"] == "failed")
                    {
                        <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <strong>Your payment is Failed, Try Again.</strong> 
                            </div>
                        
                      
                    }
                }
                @*<form action="javascript:alert('Validated!');" role="form" class="form-horizontal" id="wizard-validation">*@
                @using (Html.BeginForm(null, null, new { id = "wizard-validation", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                     @Html.HiddenFor(model => model.Pk_UserCart_Id)
                       @Html.HiddenFor(model => model.vatPercent)
                    <div class="wizard show-submit wizard-validation checkout">
                        <ul>
                            <li>
                                <a href="#step-1">
                                    <span class="stepNumber">1</span>
                                    <span class="stepDesc">Delivery Address </span>
                                </a>
                            </li>
                          
                           <li>
                                <a href="#step-2">
                                    <span class="stepNumber">2</span>
                                    <span class="stepDesc">Payment Detail</span>
                                </a>
                            </li> 
                            <li>
                                <a href="#step-3">
                                    <span class="stepNumber">3</span>
                                    <span class="stepDesc">Finish </span>
                                </a>
                            </li>
                        </ul>
                        <div id="step-1">
                            @*<div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />
                                        Use Shipping Address as Delivery Address
                                    </label>
                                </div>*@<br /><br /><br />
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.Label("Select Order", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("ddlOrders", new SelectList(Model.ddlCart, "Pk_UserCart_Id", "Order_Number"), "--Select ...", new { @class = "form-control select", data_live_search = "true", @onChange = "LoadAddress(this.value)" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Full_Name, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Full_Name, new { @class = "form-control" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.Full_Name)  </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Del_Address, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Del_Address, new { @class = "form-control" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.Del_Address)  </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Ship_Country"> Country</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Del_Country, new SelectList(Model.lstCountry, "Pk_Country_Id", "Country_Name"), "--Select ...", new { @class = "form-control select", data_live_search = "true", @onChange = "LoadState(this.value)" })
                                        <span class="help-block"> <span class="field-validation-valid" data-valmsg-for="Ship_Country" data-valmsg-replace="true"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Ship_State"> State</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Del_State, new SelectList(Model.lstState, "Pk_State_Id", "State_Name"), "--Select ...", new { @class = "form-control select", data_live_search = "true" })
                                        <span class="help-block"> <span class="field-validation-valid" data-valmsg-for="Ship_State" data-valmsg-replace="true"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Del_City, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Del_City, new { @class = "form-control" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.Del_City)  </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Del_Zipcode, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Del_Zipcode, new { @class = "form-control" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.Del_Zipcode)  </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone_No, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Phone_No, new { @class = "form-control" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.Phone_No)  </span>
                                    </div>
                                </div>
                            </div>

                            
                            @*<div class="form-group">
                                    <label class="col-md-2 control-label">Password</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control" name="password" placeholder="Password" id="password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Re-Password</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control" name="repassword" placeholder="Re-Password" />
                                    </div>
                                </div>*@
                        </div>

                      
                        <div id="step-2">
                            <div class="search-results">
                                <div class="sr-item">
                                    <div class="col-md-8">
                                        <div class="table-responsive push-up-10">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Cart Items</h3>
                                            </div>
                                            <table id="tblItems" class="table table-actions table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Description</th>
                                                        <th>Price(£)</th>
                                                        <th>Quantity</th>
                                                        <th>Total(£)</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.lstCart != null)
                                                    {
                                                        foreach (var item in Model.lstCart)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="javascript:void(0)"><img src="@item.ProductImg" alt="" style="width:80px;"></a>
                                                                </td>
                                                                <td>
                                                                    <h4><a href="javascript:void(0)">@item.ProductCode.Split(':')[1]</a></h4>
                                                                    <p>@item.PackageNM.Split(':')[1] - @item.UnitNM.Split(':')[1]</p>
                                                                </td>
                                                                <td>
                                                                    <p id="pPrice">@item.Price</p>
                                                                </td>
                                                                <td>
                                                                    @item.Quantity
                                                                </td>
                                                                <td>
                                                                    <p class="cart_total_price" id="pTotal">@(item.Price * item.Quantity)</p>
                                                                    <label id='lblProdId' style="visibility:hidden;"> @item.Fk_Product_Id </label>
                                                                    <label id='lblPackId' style="visibility:hidden;"> @item.Fk_Package_Id</label>
                                                                    <label id='lbltax' style="visibility:hidden;"> @item.TAX</label>

                                                                </td>
                                                                <td>
                                                                    <label id='lblCartId' style="visibility:hidden;"> @item.Pk_UserCart_Id</label>
                                                                    <a style="display:none" class="cart_quantity_delete" href="javascript:void(0)" id="btnDel"><i class="fa fa-times"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    @*<tr><th></th><th></th><th></th><th></th><th>0</th><th></th></tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="table-responsive push-up-10">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Payment</h3>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Gross Amount :", new { @class = "col-md-6 control-label" })
                                                @*@Html.Label("0", new { @class = "col-md-4 control-label", @id = "lblPayment" })*@
                                                @Html.Label("£", new { @class = "col-md-1 control-label" })
                                                <div class="col-md-5">
                                                    @Html.TextBox("txtGrossAmt", null, new { @class = "form-control", @readonly = "true", @Style = "Border:none;background:none;padding-top:0px;height:24px;" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Ship Rate: ", new { @class = "col-md-6 control-label" })
                                                @*@Html.Label("0", new { @class = "col-md-4 control-label", @id = "lblPayment" })*@
                                                @Html.Label("£", new { @class = "col-md-1 control-label" })
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(model => model.ShipRate, new { @class = "form-control", @readonly = "true", @Style = "Border:none;background:none;padding-top:0px;height:24px;" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("VAT %: ", new { @class = "col-md-6 control-label" })
                                                @*@Html.Label("0", new { @class = "col-md-4 control-label", @id = "lblPayment" })*@
                                                @Html.Label("£", new { @class = "col-md-1 control-label" })
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(model => model.VAT_Amount, new { @class = "form-control", @readonly = "true", @Style = "Border:none;background:none;padding-top:0px;height:24px;" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Net Amount: ", new { @class = "col-md-6 control-label" })
                                                @*@Html.Label("0", new { @class = "col-md-4 control-label", @id = "lblPayment" })*@
                                                @Html.Label("£", new { @class = "col-md-1 control-label" })
                                                <div class="col-md-5">
                                                    @Html.TextBoxFor(model => model.Payment_Amt, new { @class = "form-control", @readonly = "true", @Style = "Border:none;background:none;padding-top:0px;height:24px;" })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="table-responsive push-up-10">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Payment</h3>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Payment Amount :", new { @class = "col-md-8 control-label" })                                              
                                                @Html.TextBoxFor(model => model.Payment_Amt, new { @class = "form-control", @readonly = "true" })
                                            </div>
                                        </div>*@
                                    </div>
                                    @*@Html.ActionLink("Pay Direct With Credit Card", "PaymentWithCreditCard", "Paypal")
                                    @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")*@
                                </div>
                            </div>

                        </div>
                        

                        <div id="step-3">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Do you want to Purchase on")
                                    @if (Convert.ToBoolean( Session["IsCredit"] ))
                                    {
                                        @Html.RadioButton("rgrp", "0") @Html.Label("Invoice to account")   
                                       
                                    }
                                   
                                    @Html.RadioButton("rgrp", "1") @Html.Label("Paypal ")   
                                   
                                    <div style="display:none">

                                    @Html.Label("Do you want to purchase on credit ?", new { @class = "col-md-11 control-label" })

                                    <div class="col-md-1">
                                        @Html.CheckBoxFor(model => model.Is_Deleted)
                                    </div>
                                        </div>
                                </div>
                                <div id="divPaymnt" style="display:none">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Payment_Card, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.Payment_Card, "Debit Card", new { @class = "iradio" })@Html.Label("Debit Card")
                                            @Html.RadioButtonFor(model => model.Payment_Card, "Credit Card", new { @class = "iradio" })@Html.Label("Credit Card")
                                            @*<label class="check"><input type="radio" class="iradio" name="iradio" /> Debit Card</label>
                        <label class="check"><input type="radio" class="iradio" name="iradio" /> Credit Card</label>*@
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Payment_Card)  </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Card_Detail, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.Card_Detail, "Visa Card", new { @class = "iradio" })@Html.Label("Visa Card")
                                            @Html.RadioButtonFor(model => model.Card_Detail, "Master Card", new { @class = "iradio" })@Html.Label("Master Card")
                                            @*<label class="check"><input type="radio" class="iradio" name="iradio" /> Visa Card</label>
                        <label class="check"><input type="radio" class="iradio" name="iradio" /> Master Card</label>*@
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Card_Detail)  </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name_On_Card, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Name_On_Card, new { @class = "form-control" })
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Name_On_Card)  </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Card_No, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Card_No, new { @class = "form-control", @max = "9999999999999999", @min = "1000000000000000", @type = "number" })
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Card_No)  </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Card_Exp_Month, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Card_Exp_Month, new SelectList(
                                        Enumerable.Range(1, 12)
                                            .Select(r => new
                                                             {
                                                                 Text = new DateTime(2000, r, 1).ToString("MMMM"),
                                                                 Value = r.ToString()
                                                             }),
                 "Value", "Text", Model.Card_Exp_Month), new { @class = "form-control select" })
                                            @*<select id="month" class="form-control select" style="width:100px;">
                            @for (Int16 i = 0; i < 12; i++)
                            {
                                <option value="@i">@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                            }
                        </select>*@
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Card_Exp_Month)  </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Card_Exp_Year, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.Card_Exp_Year, new SelectList(
                                        Enumerable.Range(2017, 33)
                                            .Select(r => new
                                                             {
                                                                 Text = new DateTime(r, 1, 1).ToString("yyyy"),
                                                                 Value = r.ToString()
                                                             }),
"Value", "Text", Model.Card_Exp_Year), new { @class = "form-control select" })
                                            @*<select id="month" class="form-control select" style="width:100px;">
                            @for (Int16 i = 2017; i < 2050; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>*@
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Card_Exp_Year)  </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Card_Cvv, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Card_Cvv, new { @class = "form-control", @maxlength = "3", @type = "password" })
                                            <span class="help-block">@Html.ValidationMessageFor(model => model.Card_Cvv)  </span>
                                        </div>
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>
                }
                @*</form>*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
        load();
        function load(){
            debugger;
            $('#lblCount').text($('#lblcnt').text());
            $('#lblCnt').text($('#lblcnt').text());

            $('#Is_Deleted').change(function () {
                if ($(this).is(":checked")) {
                    $('#divPaymnt').hide();
                }
                else {
                    $('#divPaymnt').show();
                }
            });
       

        var totalCost = 0.00;
        var tax = 0;
        $("#tblItems tr").each(function () {
            var pTotal = $(this).find("td").find("#pTotal").html();
            var t = $(this).find("td").find("#lbltax").html();
            if (t != undefined) {
                tax = t;
            }
            if (pTotal != undefined) {
                totalCost = totalCost + parseInt(pTotal) ;
            }
        });
        $("#txtGrossAmt").val(totalCost);
        $("#ShipRate").val(tax);
        var vatAmt = ((totalCost + parseFloat(tax)) * parseInt($("#vatPercent").val())) / 100;
        $("#VAT_Amount").val(vatAmt);
        $("#Payment_Amt").val((totalCost + parseFloat(tax) + vatAmt));

        $("input[type=number]").keypress(function () {
            if ($("input[type=number]").val() != "") {
                if ($("input[type=number]").val().length > ($(this).attr("max").length - 1)) {
                    return false;
                }
            }
        });
        $("input[type=number]").change(function () {
            if ($("input[type=number]").val().length < ($(this).attr("max").length - 1)) {
                alert("please enter minimum (" + $(this).attr("max").length + ") Charecters");
                $(this).focus();
            }
        });

        $("#Card_Cvv").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#Card_Cvv").change(function () {
            if (parseInt($(this).attr("maxlength")) > $(this).val().length) {
                alert("please enter minimum (" + $(this).attr("maxlength") + ") Charecters");
                $(this).focus();
            }
        });


        $('#tblItems tbody').unbind().on('click', 'a', function () {
            debugger;
            var tr = $(this).closest('tr');
            var id = tr.find('#txtQty').val();
            if ($(this).attr('id') == 'btnDel') {
                var id = tr.find('#lblCartId').text();
                UpdateOrder(id, 0);
            }
        });
    }

    function LoadState(id) {
        debugger;
        var countryID = $("#Del_Country").val();
        var url = "/RegisterView/LoadStates?countryId=" + countryID;
        $.ajax({
            url: url,
            data: "",
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                //  $("#btnsave").button('reset');
                var items = '<option>-- Select State --</option>';
                $.each(data, function (i, State) {
                    items += "<option value='" + State.Pk_State_Id + "'>" + State.State_Name + "</option>";
                });
                $('#Del_State').html(items);
            },
            error: function (xhr) {

                //$("#btnsave").button('reset');

                alert(xhr);
            }

        });
    }
    function UpdateOrder(id, qt) {

        debugger;

        $.ajax({
            url: '/UserCart/RemoveCart',
            type: 'POST',
            data: { 'ScartId': id, 'qty': qt },
            dataType: 'json',
            success: function (data) {
                debugger;
                $('#savebutton').button('reset');
                if (data.status) {
                    $('#divcartItems').html(data.success);
                    $('#lblCount').text($('#lblcnt').text());
                    $('#lblCnt').text($('#lblcnt').text());
                    ModalResponce(data.message, true);

                }
                else {
                    ModalResponce(data.message, false);
                }
            },
            error: function (e) {
                debugger;
                $('#savebutton').button('reset');

                $('#msg').html('<span class="help-block">Error! Please try again.</span>');
            }
        });
    }
    function gettax() {
        debugger;
        var countryid = $("#Del_Country").val();
        $.ajax({
            url: '/UserCart/GetTaxByCountry?Countryid=' + countryid,
            type: 'POST',
            data: { 'Countryid': countryid },
            dataType: 'json',
            success: function (data) {
                debugger;
               // alert(data);
                $("#lbltax").html(data);
                load();
            },
            error: function (e) {
                debugger;
                $('#savebutton').button('reset');

                $('#msg').html('<span class="help-block">Error! Please try again.</span>');
            }
        });
    }

    function ModalResponce(data, suc) {

        if (suc) {
            $("#OpenDilog").modal('hide');
            noty({ text: data, layout: 'topRight', type: 'success' });

        }
        else {
            $("#OpenDilog").modal('hide');
            noty({ text: data.Error, layout: 'topRight', type: 'error' });
        }

    }

    function LoadAddress(id) {
        debugger;

        if (id == 0) {
            return;
        }
        var url = "/UserCart/GetOrderById?OrderId=" + id;
        $.ajax({
            url: url,
            data: "",
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {               
                debugger;
                $('#Full_Name').val(data.Full_Name);
                $('#Del_Address').val(data.Del_Address);
                $('#Del_City').val(data.Del_City);
                $('#Del_Zipcode').val(data.Del_Zipcode);
                $('#Phone_No').val(data.Phone_No);                               
                $('#Del_Country').val(data.Del_Country);
                ///LoadState(data.Del_Country);
                debugger;
                var items = '<option>-- Select State --</option>';
                $.each(data.lstState, function (i, State) {
                    if (State.Pk_State_Id == data.Del_State)
                        items += "<option value='" + State.Pk_State_Id + "' selected='selected'>" + State.State_Name + "</option>";
                    else
                        items += "<option value='" + State.Pk_State_Id + "'>" + State.State_Name + "</option>";
                });
                $('#Del_State').html(items);
                $('#Del_State').val(data.Del_State);
            },
            error: function (xhr) {
                debugger;
                //$("#btnsave").button('reset');
                alert(xhr);
            }

        });
    }
 
</script>