﻿@model Ozone.DAL.SHOPPING_CART

@{
    ViewBag.Title = "Sales order";
}
<style>
    body {
        background-color: white !important;
    }
    .widget-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
    }

    .widget-subtitle {
        margin-bottom: 7px;
        font-size: 16px;
        font-weight: 400;
    }
</style>
<div>
    <div style="padding:20px;">
        <img src="~/img/ozone_logo.png" width="150px" height="80px" />
    </div>
    <div style="text-align:center">
        <h1><b> Delivery Order</b></h1>
    </div>
    <div style="width:100%;padding:20px;">
        <div style="float:left;width:50%;padding-left:50px;">

            <!-- START WIDGET SLIDER -->
            @{
                var shortDate = Model.Create_Date.ToShortDateString();
            }




            <div class="widget-title"><b>Delivery Address</b></div>
            <div class="widget-subtitle"><b>Name:</b> @Html.DisplayFor(model => model.Full_Name)</div>
           
            <div class="widget-subtitle"><b>Address:</b> @Html.DisplayFor(model => model.Del_Address) </div>
            <div class="widget-subtitle"><b>City:</b> @Html.DisplayFor(model => model.Del_City),@Html.DisplayFor(model => model.Del_Zipcode)  </div>
            <div class="widget-subtitle"><b>Phone:</b> @Html.DisplayFor(model => model.Phone_No)</div>
            <div class="widget-subtitle">&nbsp;</div>


            <!-- END WIDGET SLIDER -->

        </div>
        <div style="width: 50%; float: left; padding-left: 50px;">

            <!-- START WIDGET SLIDER -->


            <div class="widget-title"><b>@Html.DisplayFor(model => shortDate)</b></div>
          
            <div class="widget-subtitle"><b>Order Date:</b> @Html.DisplayFor(model => shortDate) </div>
            <div class="widget-subtitle"><b>Invoice#: </b>@Html.DisplayFor(model => model.Order_Number)</div>
            <div class="widget-subtitle"><b>Delivery Order #: @Html.DisplayFor(model=>model.SHOPPING_CART_ITEMS.ToList()[0].GRNNumber)</b></div>
            <div class="widget-subtitle"><b>Payment Status:</b> @Html.DisplayFor(model => model.Payment_Status)</div>
            <div class="widget-subtitle"><b>Order Status:</b>@Html.DisplayFor(model => model.Order_Status)</div>
            <div class="widget-subtitle">&nbsp;</div>

            <!-- END WIDGET SLIDER -->

        </div>

        <table class="table">
            <tr>
                <th>
                    Product Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Packaging
                </th>
                <th>
                    Units
                </th>
                <th>
                     Quantity
                </th>
                

            </tr>

            @foreach (var item in Model.SHOPPING_CART_ITEMS)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCT_DETAILS.Product_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCT_DETAILS.Product_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PACKAGE_MASTER.Package_Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PACKAGE_MASTER.Package_Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                   
                </tr>
            }

        </table>

        <div style=" padding-left: 50px; ">

            <div class="widget-subtitle">
               
               
                @*@if (model => model.Document_Req)
                    {
                        <label>Yes</label>
                    }
                    else
                     {
                              <label>No</label>
                     }*@
                <div style="float:right">

                </div>
            </div>
            <div class="widget-subtitle">
               
            </div>
            <div style="padding:20px;">
                <div><b>Thank you for your business!</b></div><div style="float:right">Prepared by - Signature</div><br />
              
            </div>
        </div>
    </div>



</div>
