﻿@model  IEnumerable<Ozone.DAL.SHOPPING_CART>

    @{

        ViewBag.Title = "GetCart";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")

     

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Credited Orders</h3>
                       
                    </div>
                    <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>

                    <div class="panel-body">
                        <table id="Product" class="table ">
                            <thead><tr><th>Order No.</th><th>Name</th><th>Phone No.</th><th>Order Staus</th><th>Payment Status</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUser').val('@Session["UserType"]');

            GetItemsJSON(0);
        });

        function GetItemsJSON(id) {
            debugger;
            $('#Product').dataTable({
                "bDestroy": true
            }).fnDestroy();

            window.table = $('#Product').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/UserCart/BindCreditData?id="+id,
                "columns": [
                     { "data": "Order_Number" },
                     { "data": "Full_Name" },
                    // { "data": "Del_City" },
                     { "data": "Phone_No" },
                     { "data": "Order_Status" },
                     { "data": "Payment_Status" },
                     
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "data": "Order_Number",
                        "render": function (data, type, full, meta) {
                            debugger;
                            var id = full['Pk_UserCart_Id']
                            return "<a href='javascript:void(0)' onClick='ViewDetail("+id+")' >"+data+"</a>";
                        }
                    }               
                ],
                "bDestroy": true
            });

            //$('#Product tbody').unbind().on('change', 'select', function () {
            //    var data = window.table.row($(this).parents('tr')).data();
            //    if ($(this).attr('id') == 'ddlStatus') {
            //        debugger;
            //        var stat= $(this).val();
            //        myfunction(data.Order_Number, stat);
            //    }
            //});
            $('#Product th:first').removeClass('sorting_asc');
            $('#Product tbody').unbind().on('click', 'button', function () {
                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {
                    myfunction(data.Order_Number, data.Order_Status);
                }
                if ($(this).attr('id') == 'track') {
                    var url = "../UserCart/TrackOrder?orderId=" + data.Pk_UserCart_Id;
                    window.location.href = url;
                }
            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' });
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' });
            }
            window.table.ajax.reload();
        }

        function myfunction(num, sta) {
            debugger;
            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/UserCart/Create?number=" + num+'&status='+sta, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }

        function ViewDetail(id) {
            var url = '/UserCart/ViewOrder?OrderId=' + id;
            window.location.href = url;
        }
    </script>
