﻿@model  IEnumerable<Ozone.DAL.SHOPPING_CART>

    @{

        ViewBag.Title = "GetCart";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")

   

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <br />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Orders</h3>
                         
                    </div>
                    <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>

                    <div class="panel-body">
                        <table id="Product" class="table ">
                            <thead><tr><th>Date</th> <th>Order No.</th><th>Client Name</th><th>Phone No.</th><th>Order Staus</th><th>Amount(£)</th><th>Payment Status</th><th>Action</th><th>Deliery Order</th><th>Invoices</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
                       <input id="lblUser" type="hidden">
    <input id="salesid" type="hidden" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUser').val('@Session["UserType"]');
            $('#lblCount').text($('#lblcnt').text());
            GetItemsJSON();
        });

        function GetItemsJSON() {
            debugger;
            $('#Product').dataTable({
                "bDestroy": true
            }).fnDestroy();
            var statu = '@Request.QueryString["status"]' == '' ? '' : '@Request.QueryString["status"]'
            
            window.table = $('#Product').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/UserCart/BindData?st="+statu,
                "columns": [
                      { "data": "Create_Date"},
                     { "data": "Order_Number" },
                     { "data": "Full_Name" },
                    // { "data": "Del_City" },
                     { "data": "Phone_No" },
                     { "data": "Order_Status" },
                     { "data": "Payment_Amt" },
                     { "data": "Payment_Status" },
                     { "data": "" },
                     { "data": "" },
                      { "data": "" }
                ],
                "columnDefs": [
                    {
                        "targets":1,
                        "data": "Order_Number",
                        "render": function (data, type, full, meta) {
                            debugger;
                            var id = full['Pk_UserCart_Id']
                            return "<a href='javascript:void(0)' onClick='ViewDetail("+id+")'>"+data+"</a>";
                        }
                    }, {
                        "targets": 0,
                        "data": "exam.Create_Date",
                        "render": function (data, type, full, meta) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    {
                    "targets": 7,
                    "data": "",
                    //"defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' >Change Staus</button>"
                    "render": function (data, type, full, meta) {
                        debugger;

                        if ($('#lblUser').val() == 'Admin') {
                            return "<button id='edt' class='btn btn-default btn-rounded btn-sm' >Change Status</button>";
                    //        if (data == 'Requested') {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted'>Accepted</option><option value='Rejected'>Rejected</option><option value='Processed'>Processed</option><option value='Shipped'>Shipped</option><option value='Delivered'>Delivered</option></select>";
                    //        } else if (data == 'Accepted') {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted' selected='select'>Accepted</option><option value='Rejected'>Rejected</option><option value='Processed'>Processed</option><option value='Shipped'>Shipped</option><option value='Delivered'>Delivered</option></select>";
                    //        } if (data == 'Rejected') {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted'>Accepted</option><option value='Rejected' selected='select'>Rejected</option><option value='Processed'>Processed</option><option value='Shipped'>Shipped</option><option value='Delivered'>Delivered</option></select>";
                    //        } else if (data == 'Processed') {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted' selected='select'>Accepted</option><option value='Rejected'>Rejected</option><option value='Processed' selected='select'>Processed</option><option value='Shipped'>Shipped</option><option value='Delivered'>Delivered</option></select>";
                    //        }
                    //        if (data == 'Shipped') {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted'>Accepted</option><option value='Rejected'>Rejected</option><option value='Processed'>Processed</option><option value='Shipped'  selected='select'>Shipped</option><option value='Delivered'>Delivered</option></select>";
                    //        } else if (data == 'Delivered') {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted' selected='select'>Accepted</option><option value='Rejected'>Rejected</option><option value='Processed' >Processed</option><option value='Shipped'>Shipped</option><option value='Delivered'  selected='select'>Delivered</option></select>";
                    //        }
                    //        else {
                    //            return "<select class='form-control select' id='ddlStatus' name='Status' ><option value='Requested'>Requested</option><option value='Accepted'>Accepted</option><option value='Rejected'>Rejected</option><option value='Processed'>Processed</option><option value='Shipped'>Shipped</option><option value='Delivered'>Delivered</option></select>";
                    //        }
                        }else{
                            // return "<button id='track' class='btn btn-default btn-rounded btn-sm' >Track</button>";
                            return "";
                        }
                    }
                    }, {
                        "targets": 8,
                        "data": "exam.Create_Date",
                        "render": function (data, type, full, meta) {
                            return "<a href='/UserCart/ListofGRN?Poid=" + full['Pk_UserCart_Id'] + "'>List of Delivery Order</a>";
                        }
                    }, {
                        "targets": 9,
                        "data": "exam.Create_Date",
                        "render": function (data, type, full, meta) {
                            return "<a href='/UserCart/ListOfInvoice?Poid=" + full['Pk_UserCart_Id'] + "'>List of Invoices</a>";
                        }
                    }],
                "bDestroy": true
            });

            //$('#Product tbody').unbind().on('change', 'select', function () {
            //    var data = window.table.row($(this).parents('tr')).data();
            //    if ($(this).attr('id') == 'ddlStatus') {
            //        debugger;
            //        var stat= $(this).val();
            //        myfunction(data.Order_Number, stat);
            //    }
            //});
            debugger;
            if ($('#lblUser').val() != 'Admin') {
                window.table.column(7).visible(false);
            }
            
        }
        $('#Product th:first').removeClass('sorting_asc');
        $('#Product tbody').unbind().on('click', 'button', function () {
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {
                debugger;
                myfunction(data.Order_Number, data.Order_Status, data.Payment_Status, data.Pk_UserCart_Id);
            }
            if ($(this).attr('id') == 'track') {
                var url = "../UserCart/TrackOrder?orderId=" + data.Pk_UserCart_Id;
                window.location.href = url;
            }
        });

        
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {
            debugger;
            if (suc) {
                $("#OpenDilog").modal('hide');
                if (data == "Process") {
                    ShowItems();
                }
                else {
                    noty({ text: data, layout: 'topRight', type: 'success' });
                }
               
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' });
            }
            window.table.ajax.reload();
        }

        function myfunction(num, sta, pay,orderid) {
            debugger;
            var div = $("#OpenDilog");
            $("#salesid").val(orderid);
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/UserCart/Create?number=" +encodeURIComponent(num)+"&status="+encodeURIComponent(sta)+"&payStatus="+encodeURIComponent(pay), function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }
        function ShowItems() {
            debugger;
            var div = $("#OpenDilog");
            var salesid = $("#salesid").val();
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/UserCart/ViewItems?soid=" + encodeURIComponent(salesid) , function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }

        function ViewDetail(id) {
            var url = '/UserCart/ViewOrder?OrderId=' + id;
            window.location.href = url;
        }
    </script>
