﻿@*@Model List<OzoneUI.BAL.ShoppingCartBAL>*@

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")
    

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <br />
                <p>
                    <a href="@Url.Action("ProductForSale", "ProductDetail")" class="btn btn-info">Add more items</a>
                </p>

                <div class="search-results">
                    <div class="sr-item">
                        <div class="col-md-12">
                            <div class="table-responsive push-up-10">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Cart Items</h3>
                                </div>
                                @{
                                    var totalCost = 0;
                                }
                                <table id="tblItems" class="table table-actions table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2 text-center">Item</th>
                                            <th class="col-xs-5">Description</th>
                                            <th class="col-xs-1 text-right">Price(£)</th>
                                            <th class="col-xs-2 text-center">Quantity</th>
                                            <th class="col-xs-1 text-right">Total(£)</th>
                                            <th class="col-xs-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="javascript:void(0)"><img src="@item.ProductImg" alt="" width="150px;"></a>
                                                    </td>
                                                    <td>
                                                        <h4><a href="javascript:void(0)">@item.ProductCode.Split(':')[1]</a></h4>
                                                        <p>@item.PackageNM.Split(':')[1] - @item.UnitNM.Split(':')[1]</p>
                                                    </td>
                                                    <td class="text-right">
                                                        <p id="pPrice">@item.Price</p>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="cart_quantity_button">
                                                            @*<a class="cart_quantity_up" id="addQty" href="javascript:void(0)" > + </a>*@
                                                            <input id="txtQty" class="form-control" type="number" name="quantity" value="@item.Quantity" autocomplete="off" min="1" oninput="validity.valid||(value='');" size="5">
                                                            @*<a class="cart_quantity_down" id="dedQty" href="javascript:void(0)"  > - </a>*@
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <p class="cart_total_price" id="pTotal">@(item.Price * item.Quantity)</p>
                                                        <label id='lblProdId' style="visibility:hidden;"> @item.Fk_Product_Id </label>
                                                        <label id='lblPackId' style="visibility:hidden;"> @item.Fk_Package_Id</label>
                                                       
                                                        <label id='lbltax' style="visibility:hidden;"> @item.TAX</label>
                                                    </td>
                                                    <td class="col-xs-1 text-center">
                                                        <label id='lblCartId' style="display:none"> @item.Pk_UserCart_Id</label>
                                                        <a class="cart_quantity_delete" href="javascript:void(0)" id="btnDel"><i class="fa fa-times"></i></a>
                                                        
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        <tr id="taxrow">
                                            <th>
                                            </th>
                                            <th></th>
                                            <th></th>
                                            <th class="col-xs-2 text-right">Shipping Rate(£):</th>
                                            <th class="text-right"><span id="tax"></span></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                        <th>
                                            </th><th></th><th></th>
                                        <th class="col-xs-2 text-right">Total(£):</th>
                                        <th class="text-right"><span id="TotalCost"></span></th><th></th></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <p>
                    <a href="@Url.Action("CheckOutProduct", "UserCart")" class="btn btn-info">Check Out</a>
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#lblCount').text($('#lblcnt').text());
            $('#lblCnt').text($('#lblcnt').text());
        });
        //var TotalCost = ;
        var totalCost = 0;
        var tax = 0;
        debugger;
        $("#tblItems tr").each(function () {
            debugger;
            var pTotal = $(this).find("td").find("#pTotal").html();
            var t = $(this).find("td").find("#lbltax").html();
            if (t != undefined) {
                tax = t;
            }
            if (pTotal != undefined) {
                totalCost = totalCost + parseFloat(pTotal) + parseFloat(tax);
            }
        });
        debugger;
        $("#tblItems tr th").find("#TotalCost").html(totalCost);
        $("#tblItems tr th").find("#tax").html(tax);
        $("#taxrow").hide();


        $('#tblItems th:first').removeClass('sorting_asc');
        $('#tblItems').unbind().on('change', 'input[type="number"]', function () {
            debugger;

            var tr = $(this).closest('tr');
            var qty = tr.find('#txtQty').val();
            var price = tr.find('#pPrice').text();
            var tot = tr.find('#pTotal').text(qty * price);
            var id = tr.find('#lblCartId').text();
            if (qty > 1) {
                UpdateOrder(id, qty);
            } else {

            }
        });
        $('#tblItems tbody').unbind().on('click', 'a', function () {
            debugger;
            var tr = $(this).closest('tr');
            //var id = tr.find('#txtQty').val();
            //if ($(this).attr('id') == 'addQty') {
            //    var qty = tr.find('#txtQty').val();
            //    var newQty = parseInt(qty) + 1;
            //    tr.find('#txtQty').val(newQty);
            //    var price = tr.find('#pPrice').text();
            //    tr.find('#pTotal').text(newQty * price);
            //}
            //if ($(this).attr('id') == 'dedQty') {
            //    var qty = tr.find('#txtQty').val();
            //    var newQty = parseInt(qty) - 1;
            //    tr.find('#txtQty').val(newQty);
            //    var price = tr.find('#pPrice').text();
            //    tr.find('#pTotal').text(newQty * price);
            //}
            if ($(this).attr('id') == 'btnDel') {
                var id = tr.find('#lblCartId').text();
                UpdateOrder(id, 0);
            }
        });

        function UpdateOrder(id, qt) {
            debugger;
            $.ajax({
                url: '/UserCart/RemoveCart',
                type: 'POST',
                data: { 'ScartId': id, 'qty': qt },
                dataType: 'json',
                success: function (data) {
                    debugger;
                    $('#savebutton').button('reset');
                    if (data.status) {
                        $('#divcartItems').html(data.success);
                        $('#lblCount').text($('#lblcnt').text());
                        $('#lblCnt').text($('#lblcnt').text());
                        $('#txtPack_' + id).val('');
                        ModalResponce(data.message, true);
                    }
                    else {
                        ModalResponce(data.message, false);
                    }
                    location.reload();
                    //$("table#tblItems tbody").load(location.href + this + ">*", "");
                },
                error: function (e) {
                    debugger;
                    $('#savebutton').button('reset');

                    $('#msg').html('<span class="help-block">Error! Please try again.</span>');
                }
            });
        }


        function ModalResponce(data, suc) {
            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' });
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' });
            }
        }
    </script>
