﻿
@{
    ViewBag.Title = "ListofGRN";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <br />
            <p>


            </p>
            <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Invoices</h3>

                </div>
                @*<div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>*@

                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th>DO Number</th><th>Invoice Number</th><th>Product Name</th><th>Package Name</th><th>Qty Received</th><th>Delivery Date</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["Poid"]);
            GetPOJSON();
           // $(".dt").datepicker("option", "dateFormat", "dd/mm/yyyy");
        });

        function GetPOJSON() {
            debugger;
            $('#tbPO').dataTable({
                "bDestroy": true
            }).fnDestroy();
            debugger;

            var ponum = @Request.QueryString["Poid"];

            window.table = $('#tbPO').DataTable({

                "processing": true,
                "serverSide": true,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                'searching': false, "bSort": false,
                "ajax": "/UserCart/GetGRN?poid= " + ponum,
                "columns": [
                    { "data": "SHOPPING_CART.Order_Number" },
                    { "data": "GRNNumber" },
                    { "data": "PRODUCT_DETAILS.Product_Title" },

                    { "data": "PACKAGE_MASTER.Package_Title" },
                     { "data": "Quantity" },
                    { "data": "Create_Date" }
                ],
                "columnDefs": [{
                    "targets": 5,
                    "data": "PO_Status",
                    "render": function (data, type, full, meta) {
                        debugger;
                        var t1 = data.split("T");
                        var from = t1[0].split("-");
                      //  var date = new Date(from[0],  from[1],from[2]-1);

                       // var month = date.getMonth() + 1;
                        return from[2] + "/" + from[1] + "/" + from[0];

                    }
                },{
                    "targets": 1,
                    "data": "PO_Status",
                    "render": function (data, type, full, meta) {
                        debugger;
                        var vendor = full['SHOPPING_CART']['USER_REGISTRATION']['Company_Name'];
                        var link ="/Invoice_Generate/" + vendor +"/" + full['SHOPPING_CART']['Order_Number']+"/" + full['GRNNumber'] + ".pdf";
                        return "<a href=" +  link + " target='_blank' />" +data + "</a>";
                    }
                },{
                    "targets": 0,
                    "data": "PO_Status",
                    "render": function (data, type, full, meta) {
                        debugger;
                        var vendor = full['SHOPPING_CART']['USER_REGISTRATION']['Company_Name'];
                        var link ="http://" + $(location).attr('host')+"/Invoice_Generate/" + vendor +"/" + full['SHOPPING_CART']['Order_Number']+"/" + data + ".pdf";
                        return "<a href=" + link + " target='_blank' />" +data + "</a>";
                    }
                }],
                "bDestroy": true

            });

        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }







        //?baordId=" + B_ID
        function SearchText() {
            GetPOJSON();
        }
</script>

