﻿@{
    ViewBag.Title = "ListofGRN";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/notify")
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <br />
            <p>


            </p>
            <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Invoices</h3>

                </div>
                @*<div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                    </div>*@

                <div class="panel-body">
                    <table id="tbPO" class="table ">
                        <thead><tr><th>Sales Order #</th><th>Delivery Order #</th><th>Invoice</th><th>Total</th><th>Received</th><th>Pending</th><th>Due Date</th><th>Payment List</th><th>Action</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["Poid"]);
            GetPOJSON();
           // $(".dt").datepicker("option", "dateFormat", "dd/mm/yyyy");
        });

        function GetPOJSON() {
            debugger;
            $('#tbPO').dataTable({
                "bDestroy": true
            }).fnDestroy();
            debugger;

            var ponum = @Request.QueryString["Poid"];

            window.table = $('#tbPO').DataTable({

                "processing": true,
                "serverSide": true,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                'searching': false, "bSort": false,
                "ajax": "/UserCart/GetInvoice?poid= " + ponum,
                "columns": [
                    { "data": "Salesordernumber" },
                    { "data": "DeliveryOrder" },
                    { "data": "InvoiceOrder" },
                   
                     { "data": "TotalPayment" },
                      { "data": "ReceivePayment" },
                       { "data": "paymentdue" },
                        { "data": "DueDate" },
                    {"data":""},
                    {"data":""}
                   
                ],
                "columnDefs": [
               {
                    "targets": 2,
                    "data": "PO_Status",
                    "render": function (data, type, full, meta) {
                        debugger;
                        var vendor = full['folderpath'];
                       // var link ="/Invoice_Generate/" + vendor +"/" + full['SHOPPING_CART']['Order_Number']+"/" + full['GRNNumber'] + ".pdf";
                        return "<a href=" +  vendor + " target='_blank' />" +data + "</a>";
                    }
               }, {
                   "targets": 7,
                   "data": "PO_Status",
                   "render": function (data, type, full, meta) {
                       debugger;
                       var vendor = full['folderpath'];
                       // var link ="/Invoice_Generate/" + vendor +"/" + full['SHOPPING_CART']['Order_Number']+"/" + full['GRNNumber'] + ".pdf";
                       return "<button id='show' class='btn btn-default btn-rounded btn-sm' >Show Payment</button>";
                   }
               },

                {
                    "targets": -1,
                    "data": "PO_Status",
                    "render": function (data, type, full, meta) {
                        debugger;
                        var vendor = full['folderpath'];
                        // var link ="/Invoice_Generate/" + vendor +"/" + full['SHOPPING_CART']['Order_Number']+"/" + full['GRNNumber'] + ".pdf";
                        return "<button id='edt' class='btn btn-default btn-rounded btn-sm' >Receive Payment</button>";
                    }
                }],
                "bDestroy": true

            });

        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        $('#tbPO tbody').unbind().on('click', 'button', function () {
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {
                debugger;
                myfunction(data.inventoryid);
            }
            if ($(this).attr('id') == 'show') {
                Showpayments(data.inventoryid);
               // var url = "../UserCart/TrackOrder?orderId=" + data.Pk_UserCart_Id;
               // window.location.href = url;
            }
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }



        function myfunction(invid) {
            debugger;
            var div = $("#OpenDilog");
           
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/UserCart/AddPayment?invid=" +encodeURIComponent(invid), function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }
        function Showpayments(invid) {
            debugger;
            var div = $("#OpenDilog");
           
            $.mpb('show', { value: [0, 30], speed: 10, Category: 'success' });
            div.load("/UserCart/ListOfPayments?invid=" +encodeURIComponent(invid), function () {
                //$.mpb("update", {
                //    value: 100, speed: 5, complete: function () {
                //        $(".mpb").fadeOut(200, function () {
                //            $(this).remove();
                //        });
                //    }
                //});
                div.modal('show', { backdrop: 'static' });
            });
        }



        //?baordId=" + B_ID
        function SearchText() {
            GetPOJSON();
        }
</script>

