﻿@model OzoneUI.Models.ListofInvoicePayment

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Payment List</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">


                    <table class="table" id="btlItems">
                        <tr>
                            
                            <th>
                                Payment
                            </th>

                            <th>
                               Received Date
                            </th>
                            
                            

                        </tr>

                        @foreach (var item in Model.lstpayment)
                        {
                            <tr>
                                

                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>

                                <td>
                                    @item.DateReceive.Value.ToShortDateString()
                                </td>
                                
                               
                            </tr>
                        }

                    </table>

                   
                </div>
            </div>
        </div>
    </div>
</div>

