﻿@model OzoneUI.Models.CartModels

@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/js/plugins/smartwizard/jquery.smartWizard-2.0.min.js")"></script>

<ul class="breadcrumb">
    <li><a href="#">Home</a></li>

    <li class="active">Order Tracker</li>
    <li>Welcome : <label id="lblUser"></label></li>

</ul>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">


            <div class="block">
                <h4>Order Number :  @Model.Order_Number</h4>
                <br /><br />
                <div class="wizard show-submit wizard-validation">
                    <ul>
                        @*<li>
                            <a href="#step-0">
                                <span class="stepNumber">0</span>
                                <span class="stepDesc">Requested </span>
                            </a>
                        </li>

                        <li>
                            <a href="#step-1">
                                <span class="stepNumber">1</span>
                                <span class="stepDesc">Accepted / Rejected </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="stepNumber">2</span>
                                <span class="stepDesc">Processed</span>
                            </a>
                        </li>*@
                        
                        <li>
                            <a href="#step-3">
                                <span class="stepNumber">3</span>
                                <span class="stepDesc">Shipped</span>
                            </a>
                        </li> 
                         
                        <li>
                            <a href="#step-4">
                                <span class="stepNumber">4</span>
                                <span class="stepDesc">Delivered</span>
                            </a>
                        </li>
                     </ul>    
                    <div id="step-0">
                        <h4>  Order is not confired by Admin. You will receive a confirmation Mail. </h4>
                    </div>
                  
                        @*@if (Model.Order_Status == "Accepted")
                        {  
                            <div id="step-1">
                                <h4>  Order @Model.Order_Status :- @Model.Accepted_Note </h4>
                            </div>
                        }
                        else
                        {
                            <div id="step-1">
                                <h4> Order @Model.Order_Status :-  @Model.Rejected_Note</h4>
                            </div> 
                        }
                   
                      
                             <div id="step-2">
                       @if (Model.Order_Status == "Processed")
{
                                 <h4>  Order @Model.Order_Status :- @Model.Processed_Note </h4>
}
                             </div>*@ 
                      
                      
                            <div id="step-3">
                       @if (Model.Order_Status == "Shipped")
{
                                <h4> Order @Model.Order_Status :-  @Model.Shipped_Note </h4>
}
                            </div>
                       
                          
                            <div id="step-4">@if (Model.Order_Status == "Delivered")
{
                                <h4>    Order @Model.Order_Status :-  @Model.Delivery_Note </h4>
}
                            </div> 
                       
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {             
            $('#lblCount').text($('#lblcnt').text());            
        });
</script>


