﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var fileManager = new FileManager
    {
        Width = 800,
        Height = 600,
        Resizable = true
    };

    var rootFolder = new FileManagerRootFolder
    {
        Name = "Purchase Order",
        Location = "~/PO_Generate"
    };

var rootFolder2 = new FileManagerRootFolder
    {
        Name = "Invoices",
        Location = "~/Invoice_Generate"
    };
    rootFolder.AccessControls.Add(new FileManagerAccessControl
    {
        Path = @"\",
        AllowedPermissions = FileManagerPermissions.Full
    });
 rootFolder2.AccessControls.Add(new FileManagerAccessControl
    {
        Path = @"\",
        AllowedPermissions = FileManagerPermissions.Full
    });

    fileManager.RootFolders.Add(rootFolder);
fileManager.RootFolders.Add(rootFolder2);
}

@Html.RenderCss(fileManager)
@Html.RenderJs(fileManager)

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            @Html.RenderControl(fileManager)
            </div>
        </div>
    </div>
