﻿@model OzoneUI.Models.PackageModels

@{
    ViewBag.Title = "Create Package";
}


<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Package Master</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        @using (Html.BeginForm("SavePackage", "PackageView", FormMethod.Post, new { role = "form", id = "saveForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="panel-body">

                                @Html.ValidationSummary(true)

                                @Html.HiddenFor(model => model.Pk_Package_Id)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fk_Product_Id, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.Fk_Product_Id, new SelectList(Model.lstProduct, "Pk_Product_Id", "Product_Title"), "--Select ...", new { @class = "form-control select", data_live_search = "true" })
                                        <span class="help-block">@Html.ValidationMessageFor(model => model.Fk_Product_Id)  </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Package_Title, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Package_Title, new { @class = "form-control" })
                                        <span class="help-block"> @Html.ValidationMessageFor(model => model.Package_Title)</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Package_Unit, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <div class="col-md-6" style="padding-left:0px !important;">
                                            @Html.TextBoxFor(model => model.Package_Amt, new { @class = "form-control" ,@type="number",@min="0" ,@oninput="validity.valid||(value='');"})
                                            <span class="help-block"> @Html.ValidationMessageFor(model => model.Package_Unit)</span>
                                        </div>
                                        <div class="col-md-6" style="padding-right:0px !important;">
                                            @Html.DropDownListFor(model => model.Package_Unit, new SelectList(Model.lstunits), "--Select ...", new { @class = "form-control select", data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Cost_Price, new { @class = "col-md-4 control-label" })*@
                                    <label class="col-md-4 control-label">Cost Price (£)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Cost_Price, new { @class = "form-control" ,@type="number",@min="0",@oninput="validity.valid||(value='');"})
                                        <span class="help-block"> @Html.ValidationMessageFor(model => model.Cost_Price)</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.Sell_Price, new { @class = "col-md-4 control-label" })*@
                                    <label class="col-md-4 control-label">Sell Price (£)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Sell_Price, new { @class = "form-control", @type="number",@min="0",@oninput="validity.valid||(value='');" })
                                        <span class="help-block"> @Html.ValidationMessageFor(model => model.Sell_Price)</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">

                                        <button type="submit" id="savebutton" class="btn btn-info mb-control">Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div id="msg" style="color:red"></div>

                        @*<div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#savebutton").button();
    $("body").unbind().on('submit', '#saveForm', function (e) {

        e.preventDefault();
        SavePackage();
    });

    function SavePackage() {
        $('#savebutton').button('loading');

        //Validation
        if ($('#Package_Title').val().trim() == '' ||
            $('#Package_Unit').val().trim() == '') {
            $('#msg').html('<div class="failed">All fields are required.</div>');
            $('#savebutton').button('reset');
            return false;
        }

        var Package = {
            Fk_Product_Id: $('#Fk_Product_Id').val(),
            Package_Title: $('#Package_Title').val().trim(),
            Package_Unit: $('#Package_Unit').val().trim(),
            Cost_Price: $('#Cost_Price').val().trim(),
            Sell_Price: $('#Sell_Price').val().trim(),
            Package_Amt : $("#Package_Amt").val(),
            Pk_Package_Id: $('#Pk_Package_Id').val() == '' ? '0' : $('#Pk_Package_Id').val()

        };
        //Add validation token
        Package.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        //Save Contact
        $.ajax({
            url: '/Packaging/SavePackage',
            type: 'POST',
            data: Package,
            dataType: 'json',
            success: function (data) {
                $('#savebutton').button('reset');

                
                if (data.status) {
                    ModalResponce(data.message, true);
                }
                else {
                    ModalResponce(data.message, false);
                }
                //if (data.status) {
                //    $('#ContactID').val('');
                //    $('#ContactPerson').val('');
                //    $('#ContactNo').val('');
                //    $('#PackageID').val('');
                //    $('#PackageID').val('');
                //    LoadContacts();
                //    $dialog.dialog('close');
                //}
            },
            error: function () {
                $('#savebutton').button('reset');

                $('#msg').html('<div class="failed">Error! Please try again.</div>');
            }
        });
    }
</script>