﻿@model  IEnumerable<Ozone.DAL.SHOPPING_CART_ITEMS>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    @Scripts.Render("~/bundles/notify")

    @*<ul class="breadcrumb">
        <li><a href="#">Home</a></li>

        <li class="active">Customized Orders </li>
        <li>Welcome : <label id="lblUser"></label></li>

    </ul>*@

    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Customized Orders </h3>
                        @*<ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>*@
                    </div>
                    @*<div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

                        </div>*@

                    <div class="panel-body">
                        <table id="tbPO" class="table ">
                            <thead><tr><th>Date</th> <th>Order No.</th><th>Client Name</th><th>Phone No.</th><th>Order Status</th><th>Payment Status</th><th>Action</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUser').val('@Session["UserType"]');
            $('#lblCount').text($('#lblcnt').text());
            GetPOJSON();
        });
         
        function GetPOJSON() {
            $('#tbPO').dataTable({
                "bDestroy": true
            }).fnDestroy();

            window.table = $('#tbPO').DataTable({
                "processing": true,
                "serverSide": true,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                'searching': false, "bSort": false,
                "ajax": "/CustomizedOrder/GetExtraItem",
                "columns": [
                     {"data":"Create_Date"},
                     { "data": "Order_Number" },
                     { "data": "Full_Name" },
                    // { "data": "Del_City" },
                     { "data": "Phone_No" },
                     { "data": "Order_Status" },
                     { "data": "Payment_Status" },
                     { "data": "" }
                ],
                "columnDefs": [{
                    "targets": 6,
                    "data": "",
                    "render": function (data, type, full, meta) {
                        //if ($('#lblUser').val() == 'Admin') {
                            return "<button id='edt' class='btn btn-default btn-rounded btn-sm' >View</button>";
                       // }
                    }
                }, {
                    "targets": -1,
                    "data": null,
                    "defaultContent": ""// "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><span class='fa fa-times'></span></button>"
                },{
                    "targets": 0,
                    "data": "exam.Exam_Date",
                    "render": function (data, type, full, meta) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        return date.getDate() + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                    }
                }
                ],
                "bDestroy": true

            });
            $('#tbPO th:first').removeClass('sorting_asc');
            $('#tbPO tbody').unbind().on('click', 'button', function () {
                debugger;
                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {
                    EditPO(data.Pk_UserCart_Id);
                }
                if ($(this).attr('id') == 'del') {
                    DeletePO(data.Pk_UserCart_Id);
                }
                if ($(this).attr('id') == 'btnStatus') {
                    myfunction(data.PO_Number, 'Received')
                }
            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {

            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;

            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
            }
            window.table.ajax.reload();
        }
        function EditPO(B_ID) {

            var url = "/CustomizedOrder/AddExtra?CartId=" + B_ID;
            window.location.href = url;
            //var div = $("#OpenDilog");
            //$.mpb('show', { value: [0, 30], speed: 10, PO: 'success' });
            //div.load("/Packaging/Create?POid=" + B_ID, function () {
            //    $.mpb("update", {
            //        value: 100, speed: 5, complete: function () {
            //            $(".mpb").fadeOut(200, function () {
            //                $(this).remove();
            //            });
            //        }
            //    });
            //    div.modal('show', { backdrop: 'static' });
            //});
        }



    </script>
