﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="http://www.ozoneabrasives.co.uk/images/favicon.png">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/css/theme-white.css")" />
    <!-- EOF CSS INCLUDE -->
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>



    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
          
            var pgurl = $(location).attr('pathname') + $(location).attr('search');; //window.location.href.substr(window.location.href.lastIndexOf("/") + 1);
            $("#divMenu ul li a").each(function () {
               
                if ($(this).attr("href") == pgurl || $(this).attr("href") == '') {
                    $(this).closest('li').addClass('active').closest('ul').parent().closest('li').addClass('active');
                }
            })
        });

    </script>
</head>
<body>
    @if (@Session["UserType"] == null || @Session["UserType"]==null)
    {
        Response.Redirect("/RegisterView/LoginUsr");
    }
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation" id="divMenu">
                <li class="xn-logo">
                    @if (@Session["UserType"].ToString() == "Admin")
                    {
                          <a href="@Url.Action("Index", "Home")" style="padding-top:10px !important">
                        <img src="/img/ozone_logo.png" alt="oZone" height="50px" width="120px">
                    </a>
                    }
                    else
                    {
                        
                         <a href="@Url.Action("CompnyIndex", "Home")" style="padding-top:10px !important">
                        <img src="/img/ozone_logo.png" alt="oZone" height="50px" width="120px">
                    </a>    
                    }
                  
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    @*<a href="#" class="profile-mini">
                            <img src="/assets/images/users/avatar.jpg" alt="John Doe" />
                        </a>*@
                    <div class="profile">
                        @*<div class="profile-image">
                                <img src="/assets/images/users/avatar.jpg" alt="John Doe" />
                            </div>*@
                        <div class="profile-data">
                            <div class="profile-data-name">@Session["UserName"]</div>
                            <div class="profile-data-title"></div>
                        </div>
                        @*<div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div>*@
                    </div>
                </li>
                

                @if ((@Session["UserType"] != null) && (@Session["UserType"].ToString() == "Admin"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Home")"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="jacascript:void(0);"><span class="fa fa-users"></span> <span class="xn-text">Master Pages</span></a>
                        <ul>

                            <li><a href="@Url.Action("Index", "CountryView")">Country Master</a></li>
                            <li><a href="@Url.Action("Index", "StateView")">State Master</a></li>
                            <li><a href="@Url.Action("Index", "Category")">Category Master</a></li>
                            
                            <li><a href="@Url.Action("Index", "ProductDetail")">Product Master</a></li>
                            <li><a href="@Url.Action("Index", "Packaging")">Packaging</a></li>
                            <li><a href="@Url.Action("Index", "VATPercent")">VAT Master</a></li>
                            <li><a href="@Url.Action("Index", "ShippingCharges")">Shipping Rate</a></li>

                            <li><a href="@Url.Action("Index","ShipRateUK")">Shipping Rate (UK)</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="javascript:void(0);"><span class="fa fa-users"></span> <span class="xn-text">User Master</span> </a>
                        <ul>
                            <li><a href="@Url.Action("UsersList", "RegisterView", new { usertype ="Vendor"})">Vendors</a></li>
                            <li><a href="@Url.Action("UsersList", "RegisterView", new { usertype = "Retail" })">Retail</a></li>
                            <li><a href="@Url.Action("UsersList", "RegisterView", new { usertype = "Corporate" })">Corporate</a></li>
                        </ul>

                    </li>
                    <li class="xn-openable">
                        <a href="jacascript:void(0);"><span class="fa fa-shopping-cart"></span> <span class="xn-text">Purchase Order</span></a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "PurchaseOrder")"><span class="xn-text">List of Purchase Order</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "VendorPO")"> <span class="xn-text">Purchase Order Status</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-book"></span> <span class="xn-text">Account Detail</span></a>
                        <ul>

                            <li><a href="@Url.Action("Index", "AccountSummary")">Account Statements</a></li>
                            <li><a href="@Url.Action("GetStatement", "AccountSummary")">Statements of Account</a></li>
                            


                        </ul>
                    </li>
                   
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-truck"></span> <span class="xn-text">Sales Order</span></a>
                        <ul>
                            <li><a href="@Url.Action("GetCart", "UserCart")">Sales Order </a></li>
                            <li><a href="@Url.Action("Index", "CustomizedOrder")">Customized Orders </a></li>
                            <li><a href="@Url.Action("GetCredits", "UserCart")">Credited Orders</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Inventory</span></a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "PInventory")"> <span class="xn-text">Inventory Stock</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","DeadStock")">  <span class="xn-text">Dead Stock</span> </a>
                            </li>
                        </ul>
                    </li>
<li>
    <a href="@Url.Action("Index", "FileManager")"><span class="fa fa-file"></span> <span class="xn-text">File Manager</span></a>
</li>
                }
                else if (@Session["UserType"] != null && @Session["UserType"].ToString() == "Vendor")
                {

                }
                @if (@Session["UserType"] != null && @Session["UserType"].ToString() == "Company")
                {
                    <li>
                        <a href="@Url.Action("CompnyIndex", "Home")"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductForSale", "ProductDetail")"><span class="fa fa-desktop"></span> <span class="xn-text">Products </span></a>
                    </li>
                    @*<li >
                        <a href="@Url.Action("Index", "CustomizedOrder")"><span class="fa fa-desktop"></span> <span class="xn-text">Customized Orders </span></a>

                    </li>*@
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-shopping-cart"></span> <span class="xn-text">My Order</span></a>
                        <ul>
                            <li><a href="@Url.Action("GetCart", "UserCart")">Order List </a></li>
                        </ul>
                    </li>
                }
                else if (@Session["UserType"] == null)
                {
                    Response.Redirect("/RegisterView/LoginUsr");
                }


                @*<li class="xn-openable">
                        <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Logout</span></a>
                    </li>*@

            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        @*@RenderSection("featured", required: false)*@
        @*<section class="content-wrapper main-content clear-fix">*@
        <div class="page-content">
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <li class="xn-icon-button pull-right" style="width:65px;">
                    <a href="#" class="mb-control btn btn-info"  data-box="#mb-signout" style="width:70px"><span class="fa" style="width:43px;color:white">Logout</span></a>
                </li>
                @if (@Session["UserType"] != null && @Session["UserType"].ToString() == "Company")
                {
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-shopping-cart"></span></a>
                        <div class="informer informer-danger" id="lblCount"></div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-shopping-cart"></span> Items</h3>
                                <div class="pull-right">
                                    <span class="label label-danger" id="lblCnt"></span>
                                </div>
                            </div>
                            <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                                <div id="divcartItems">
                                    @if (Session["PopUp"] != null)
                                    {
                                        @Session["PopUp"];

                                    }

                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <a href="@Url.Action("Index", "UserCart")">Show all items</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            @RenderBody()
        </div>
        @*</section>*@
    </div>

    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="@Url.Action("loginusr", "RegisterView" )" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
