﻿@model  OzoneUI.Models.TaxMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Scripts.Render("~/bundles/notify")
@Scripts.Render("~/bundles/validation")


<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
           
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" >Shipping Rates  </h3>
                </div>
                @using (Html.BeginForm(null, null, System.Web.Mvc.FormMethod.Post, new { role = "form", id = "saveForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="panel-body" id="pnlVAT">

                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.taxid)

                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CountryId, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                  @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.lstcountries, "Pk_Country_Id", "Country_Name"), "-Select Country-", new { @class = "form-control select", @data_val = "false" })
                                    <span class="help-block"> @Html.ValidationMessageFor(model => model.CountryId)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tax, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">£</div>
                                        @Html.TextBoxFor(model => model.Tax, new { @class = "form-control", @type = "number", @min = "0", @step = "any" })
                                        </div>
                                        <span class="help-block"> @Html.ValidationMessageFor(model => model.Tax)</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-6">
                                    <div id="msg"></div>
                                    <button href="#" id="savebutton" class="btn btn-info" style=" float: left;"  type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="panel-heading">
                            <h3 class="panel-title">Shipping Rates</h3>
                        </div>
                        <table id="tbltax" class="table ">
                            <thead><tr><th>Country</th><th>Shipping Rate (£)</th><th>Action</th></tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        //if(window.location.href.indexOf('Ext=1')>-1){
        //    $('#pnlShip').hide();
        //}
        GetItemJSON();
       

    });

    function GetItemJSON() {

        $('#tbltax').dataTable({
            "bDestroy": true
        }).fnDestroy();


        window.table = $('#tbltax').DataTable({
            "processing": true,
            "serverSide": true,
            'searching': false,
            'language': {
                "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
            },
            "bSort": false,
            "ajax": "/TaxMaster/GetTax",
            "columns": [
                    { "data": "COUNTRY_MASTER.Country_Name" },
                    { "data": "Charges" },
                    //{ "data": "Product_Description" },
                    { "data": "" },
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<a id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></a>"
            }],
            "bDestroy": true
        });
      
        $('#tbltax tbody').unbind().on('click', 'a', function () {
            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {

                window.location.replace("/TaxMaster/index?taxid=" + data.TaxID);

            }

        });

    }

    function ModalResponce(data, suc) {

        if (suc) {
            //$("#OpenDilog").modal('hide');
            noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);;

        }
        else {
            //$("#OpenDilog").modal('hide');
            noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);;
        }
        window.table.ajax.reload();

    }

    function SaveVAT() {

        if ($('#tblVAT tbody tr').length == 0) {
            $('#VAT_Percent1').val('');
            alert('Please enter value.');
            return true;
        }


        $('#savebutton').button('loading');
        //Validation
        if ($('#VAT_Percent1').val().trim() == '') {
            $('#msg').html('<span class="help-block">All fields are required.</span>');
            $('#savebutton').button('reset');
            return false;
        }
        var VAT = {
            VAT_Percent1: $('#VAT_Percent1').val().trim(),
            Pk_VAT_Id: $('#Pk_VAT_Id').val() == '' ? '0' : $('#Pk_VAT_Id').val()
        };

        //Add validation token


        VAT = JSON.stringify({ 'vat': VAT });
        //Save Contact
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: '/VATPercent/SaveVAT',
            type: 'POST',
            data: VAT,
            success: function (data) {
                debugger;
                $('#savebutton').button('reset');
                if (data.status) {
                    ModalResponce(data.message, true);
                }
                else {
                    ModalResponce(data.message, false);
                }
                $('#VAT_Percent1').val('');
                $('#Pk_VAT_Id').val('');
            },
            error: function () {
                debugger;
                $('#savebutton').button('reset');

                $('#msg').html('<span class="help-block">Error! Please try again.</span>');
            }
        });
    }




</script>