﻿@model OzoneUI.Models.POItemModels

@{
    ViewBag.Title = "Create Purchse Order Item";
}


@*<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Purchase Order Item</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">*@

@*@using (Html.BeginForm(null, null, System.Web.Mvc.FormMethod.Post, new { role = "form", id = "poitemForm" }))
    {*@

@*@Html.AntiForgeryToken()*@

<div class="panel-body">

    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Pk_PO_Item_Id, new { @data_val = "false" })
    @Html.HiddenFor(model => model.Fk_PO_Id)
    <div class="form-group">

        <div class="col-md-2">
            @Html.DropDownListFor(model => model.Fk_Product_Id, new SelectList(Model.lstProduct, "Pk_Product_Id", "Product_Title"), "-Select Product-", new { @class = "form-control select", @onChange = "LoadPackage(this.value)", @data_val = "false" })
            <span id="lblProdId" class="help-block">@Html.ValidationMessageFor(model => model.Fk_Product_Id)</span>
        </div>

        <div class="col-md-2">
            @Html.DropDownListFor(model => model.Packaging, new SelectList(Model.lstPackage, "Pk_Package_Id", "Package_Title"), "-Select Package-", new { @class = "form-control select", @onChange = "LoadPrice(this.value)" }) @*, @onChange = "LoadUnits(this.value)"*@
            <span id="lblPackage" class="help-block">@Html.ValidationMessageFor(model => model.Packaging)</span>
        </div>


        @*<div class="col-md-2">
                @Html.DropDownListFor(model => model.Units, new SelectList(Model.lstUnits, "Pk_Package_Id", "Package_Unit"), "-Select Units-", new { @class = "form-control select", data_live_search = "true" })

            </div>*@


        <div class="col-md-2">
            @Html.TextBoxFor(model => model.Total_Qty, new { @class = "form-control num", @onchange = "countTotal();", @Placeholder = "Quantity", @type = "number", @min = "0", @oninput = "validity.valid||(value='');" })
            <span id="lblQty" class="help-block">@Html.ValidationMessageFor(model => model.Total_Qty)</span>
        </div>

        <div class="col-md-3">

            <div class="form-group ">
                <div class="input-group">
                   <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Unit_Price, new { @class = "form-control", @onchange = "countTotal();", @Placeholder = "Price", @type = "number", @min = "0", @oninput = "validity.valid||(value='');" ,@step="any"})</div>
                    <div class="col-md-4">
                    @Html.DropDownListFor(model => model.CurrencyId, new SelectList(Model.lstcurrency, "Currencyid", "CurrencyName"), new { @class = "form-control select" })
                        </div>
                </div>
                <span id="lblPrice" class="help-block">@Html.ValidationMessageFor(model => model.Unit_Price)</span>
                </div>
            </div>


        <div class="col-md-2">
            <div class="input-group">
               
                @Html.TextBoxFor(model => model.Total_Amt, new { @class = "form-control", @Placeholder = "Amount", @type = "number", @min = "0", @oninput = "validity.valid||(value='');" ,@step="any"})
                </div>
                <span id="lblTotal" class="help-block">@Html.ValidationMessageFor(model => model.Total_Amt)</span>
            </div>
            </div>
        <div class="col-md-1">
            <a id="saveItem" tabindex="5" class="btn btn-info mb-control" onclick="SavePOItem();">Add Item</a>
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-2">
            @Html.HiddenFor(model => model.Product_Code, new { @class = "form-control" })

        </div>


        <div class="col-md-4">
            @Html.HiddenFor(model => model.Product_Description, new { @class = "form-control" })

        </div>
        <input type="hidden" id="hidvalue" value="0" />

    </div>
</div>

@*}*@
<div id="msg" style="color:red"></div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@*</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
                </div>
            </div>
        </div>
    </div>*@

<script type="text/javascript">
    $("document").ready(function () {
        
        //jQuery.validator.unobtrusive.parse();
        //jQuery.validator.unobtrusive.parse("#poitemForm");
        $("#Packaging").find("option:contains('@Model.Packaging')").each(function () {
            $(this).attr("selected", "selected");
        });
        @*$("#Units").find("option:contains('@Model.Units')").each(function () {
            $(this).attr("selected", "selected");
        });*@
    });
    $("#saveItem").button();
    //$("body").unbind().on('submit', '#itemForm', function (e) {

    //    e.preventDefault();
    //    SavePOItem();
    //});

    function SavePOItem() {

        //var $form = $('#poitemForm');
        //if ($form.valid()) {
        $('#saveItem').button('loading');
        debugger;
       
        //Validation
        if ($('#Fk_Product_Id').val().trim() == '' ||
            $('#Product_Code').val().trim() == '' ||
            $('#Unit_Price').val().trim() == '' || $('#Total_Qty').val().trim() == '') {
            $('#Total_Qty').val().trim() == '' ? $('#lblQty').html('<div class="failed">*</div>') : $('#lblQty').html('<div class="failed"></div>');
            $('#Unit_Price').val().trim() == '' ? $('#lblPrice').html('<div class="failed">*</div>') : $('#lblPrice').html('<div class="failed"></div>');
            $('#Total_Amt').val().trim() == '' ? $('#lblTotal').html('<div class="failed">*</div>') : $('#lblTotal').html('<div class="failed"></div>');
            $('#Fk_Product_Id').val() == 0 ? $('#lblProdId').html('<div class="failed">*</div>') : $('#lblProdId').html('<div class="failed"></div>');
            $('#Packaging').val() == 0 ? $('#lblPackage').html('<div class="failed">*</div>') : $('#lblPackage').html('<div class="failed"></div>');
            //$('#lblQty').html('<div class="failed">All fields are required.</div>');
            $('#saveItem').button('reset');
            return false;
        } else {
            $('#lblQty').html('<div class="failed"></div>'); $('#lblPrice').html('<div class="failed"></div>');
            $('#lblTotal').html('<div class="failed"></div>'); $('#lblProdId').html('<div class="failed"></div>');
            $('#lblPackage').html('<div class="failed"></div>');
        }

        var POItem = {
            Fk_PO_Id: $('#Fk_PO_Id').val(),
            Fk_Product_Id: $('#Fk_Product_Id').val(),
            Product_Code: $('#Product_Code').val(),
            Product_Description: $('#Product_Description').val(),
            Packaging: $('#Packaging  option:selected').text().split('-')[0],
            Total_Qty: $('#Total_Qty').val().trim(),
            Units: $('#Packaging  option:selected').text().split('-')[1],     //$('#Units option:selected').text(),
            Unit_Price: $('#Unit_Price').val().trim(),
            Total_Amt: $('#Total_Amt').val().trim(),
            Fk_Package_Id: $('#Packaging').val(),
            CurrencyId :$("#CurrencyId").val(),
            Pk_PO_Item_Id: $('#Pk_PO_Item_Id').val() == '' ? '0' : $('#Pk_PO_Item_Id').val(),

        };
        //Add validation token
        POItem.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        //Save Contact
        $.ajax({
            url: '/PurchaseOrderItems/SavePOItem',
            type: 'POST',
            data: POItem,
            dataType: 'json',
            success: function (data) {
                $('#saveItem').button('reset');
                if (data.status) {
                    $('#Total_Qty').val('');
                    $('#Unit_Price').val('');
                    $('#Total_Amt').val('');
                    $('#Packaging').val('0');
                    $('#Fk_Product_Id').val('0');
                    $('#Pk_PO_Item_Id').val('');
                    $('#hidvalue').val('1');
                    ModalResponce(data.message, true);

                }
                else {
                    ModalResponce(data.message, false);
                }

            },
            error: function () {
                $('#saveItem').button('reset');

                $('#msg').html('<div class="failed">Error! Please try again.</div>');
            }
        });
        //}
        //else {
        //    var validator = $("#poitemForm").validate()
        //    var lst = validator.errorList;
        //    alert(lst[0]);
        //}
    }

    function LoadItem(id) {

        var url = "/PurchaseOrderItems/GetItemByID?id=" + id;
        $.ajax({
            url: url,
            data: "",
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#Product_Code").val(data[0]);
                $("#Product_Description").val(data[1]);
            },
            error: function (xhr) {

                //$("#btnsave").button('reset');

                alert(xhr);
            }

        });
    }
    

    function LoadUnits(id) {

        var nm = $("#Packaging option:selected").text();

        var url = "/Packaging/LoadUnits?package=" + nm;
        $.ajax({
            url: url,
            data: "",
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                //  $("#btnsave").button('reset');
                var items = '<option>-- Select Unit --</option>';
                $.each(data, function (i, unit) {
                    items += "<option value='" + unit.Pk_Package_Id + "'>" + unit.Package_Unit + "</option>";
                });
                $('#Units').html(items);
            },
            error: function (xhr) {

                //$("#btnsave").button('reset');

                alert(xhr);
            }

        });
    }
    function LoadPackage(id) {

        LoadItem(id);

        var url = "/Packaging/LoadPackage?productid=" + id;
        $.ajax({
            url: url,
            data: "",
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                debugger;
                //  $("#btnsave").button('reset');
                var items = '<option>-- Select Package --</option>';
                $.each(data, function (i, unit) {
                    items += "<option value='" + unit.Pk_Package_Id + "'>" + unit.Package_Title + " " + unit.Package_Unit + "</option>";
                });
                $('#Packaging').html(items);
            },
            error: function (xhr) {

                //$("#btnsave").button('reset');

                alert(xhr);
            }

        });
    }

    function countTotal() {
        var price = $('#Unit_Price').val();
        var qty = $('#Total_Qty').val();

        var amt = price * qty;
        amt = Number(amt).toFixed(2);
        $('#Total_Amt').val(amt);
    }

    function LoadPrice(id) {
        debugger;
        var url = "/Packaging/GetBPriceByID?id=" + id;
        $.ajax({
            url: url,
            data: "",
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                debugger;
                $("#Unit_Price").val(data);

            },
            error: function (xhr) {

                //$("#btnsave").button('reset');

                alert(xhr);
            }

        });
    }
</script>