﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="login-container lightmode">
    @if (ViewBag.Status == "Success")
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <strong>Well done!</strong> Confirmation Email sent to your account please verify it.
        </div>
    }
    <div class="login-box animated fadeInDown">

        <a href="/RegisterView/LoginUsr">
            <div class="login-logo"></div> </a>
            <div class="login-body">
                <div class="login-title"><strong>Forgot Password</strong></div>
                @*<form action="index.html" class="form-horizontal">*@
                @using (Html.BeginForm(null, null, new { id = "create", @class = "form-horizontal" }))
                {   @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="col-md-12">

                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" />
                            @*<input type="text" class="form-control" placeholder="E-mail" />*@
                        </div>
                    </div>

                    <div class="form-group">

                        <br />
                        <br />
                        <div class="col-md-6">
                            <a class="btn btn-info btn-block" value="LoginUsr" id="btnsend" onclick="Sendemail()">Send mail</a>

                        </div>
                        <div class="col-md-6">
                            <a href="@Url.Action("LoginUsr", "RegisterView")" class="btn btn-primary">Login</a>
                        </div>
                    </div>



                }
                @*</form>*@
            </div>
            <div class="login-footer">
                @*<div class="pull-left">
                    &copy; 2014 AppName
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>*@
            </div>
</div>

</div>
<script type="text/javascript">
    function Sendemail() {
        $("#btnsend").button();
        $("#btnsend").button('loading');

        debugger;
        var emailid = $("#email").val();
        if (emailid == "") {
            alert('Please enter Emailid');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/RegisterView/Sendmail?email=" + emailid,
           
            success: function (data) {
                alert(data);
                $("#btnsend").button('reset');
                $("#email").val('');

            },
            contentType: "application/json",
            dataType: 'json'
        });
    }

</script>
