﻿@model  IEnumerable<Ozone.DAL.USER_REGISTRATION>

    @{
        ViewBag.Title = "UsersList";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

  @Scripts.Render("~/bundles/notify")

  @*<ul class="breadcrumb">
                           <li><a href="#">Home</a></li>

                           <li class="active">Users</li>
                           <li>Welcome : <label id="lblUser"></label></li>

                       </ul>*@
  <div id='OpenDilog' class="modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">

  </div>
  <div class="page-content-wrap">

                           <div class="row">
                               <div class="col-md-12">
                                   <br />
                                   <p>
                                       @if (Request.QueryString["usertype"] == "Vendor") 
	{
		  <input type="button" class="btn btn-info mb-control" value="Add Vendor User" onclick="CreateVendor(0,'ven');" />
    }
                                       else if (Request.QueryString["usertype"] == "Corporate")
                                       {
                                         <input type="button" class="btn btn-info mb-control" value="Add Corporate User" onclick="CreateVendor(0,'corp');" />
                                       }
                                       else if (Request.QueryString["usertype"] == "Retail")
                                       {
                                        <input type="button" class="btn btn-info mb-control" value="Add Retail User" onclick="CreateVendor(0,'retail');" />
                                       }
                                      

                                   </p>

                                   <div class="panel panel-default">
                                       <div class="panel-heading">
                                           @if (Request.QueryString["usertype"] == "Vendor")
                                           {
                                                 <h3 class="panel-title">List of Vendors</h3>
                                           }
                                           else
                                           {
                                                <h3 class="panel-title">List of @Request.QueryString["usertype"] Users</h3>
                                           }
                                         
                                           @*<ul class="panel-controls">
                                               <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                                               <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                               <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                           </ul>*@
                                       </div>

                                       <div class="panel-body">
                                           <table id="RegUsers" class="table ">
                                               <thead><tr><th>Register Type</th><th>User Name</th><th>Company Name</th><th>Email ID</th><th>Mobile No</th><th>Allow Credit</th><th>Action</th> </tr></thead>
                                               <tbody></tbody>
                                           </table>
                                       </div>
                                   </div>
                                   @if (Request.QueryString["usertype"] != "Vendor")
                                   {
                                   <p>
                                       <input type="button" class="btn btn-info mb-control" value="Give Credit to Selected Clients" onclick="ChangeToCredit('ven')">

                                   </p>
                                   }
                                  
                               </div>
                           </div>

                       </div>
  <script type="text/javascript">
        $(document).ready(function () {
            $('#lblUserId').text(@Request.QueryString["id"]);
            GetStateJSON();
        });

        function GetStateJSON() {
            
            $('#RegUsers').dataTable({
                "bDestroy": true
            }).fnDestroy();

            var user = '@Request.QueryString["usertype"]'
            window.table = $('#RegUsers').DataTable({
                "processing": true,
                "serverSide": true,
                'searching': false,
                'language': {
                    "processing": "<img src='../img/loaders/default.gif' />" //add a loading image,simply putting <img src="loader.gif" /> tag.
                },
                "bSort": false,
                "ajax": "/RegisterView/GetUsers?usertype=" + user,
                "columns": [
                    { "data": "Register_Type" },
                    { "data": "User_Name" },
                    { "data": "Company_Name" },
                    { "data": "Email_ID" },
                    { "data": "Mobile_No" },
                  
                    { "data": "Have_Credit" },
                    { "data": "" }
                ],
                "columnDefs": [{
                    "targets": 5,
                    "data": 'Have_Credit',
                    "render": function (data, type, full, meta) {
                        debugger;
                        if (full['Register_Type'] != "Vendor") {
                            if (data == true)
                                return " <input type='checkbox' id='chkCr' value='' checked='" + data + "' />";
                            else
                                return " <input type='checkbox' id='chkCr' value='' />";
                        } else
                            return "";
                    }
                }, {
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><span class='fa fa-pencil'></span></button>"
                }
                ],
                "bDestroy": true

            });
            if (user == "Vendor") {
                window.table.column(5).visible(false);
            }
           
            $('#RegUsers th:first').removeClass('sorting_asc');
            $('#RegUsers tbody').unbind().on('click', 'button', function () {

                var data = window.table.row($(this).parents('tr')).data();
                if ($(this).attr('id') == 'edt') {

                    CreateVendor(data.Pk_Register_Id);
                }               
            });
        }
        $(".panel-refresh").on("click", function () {
            window.table.ajax.reload();
        });
        function ModalResponce(data, suc) {
            debugger;
            if (suc) {
                $("#OpenDilog").modal('hide');
                noty({ text: data, layout: 'topRight', type: 'success' }).setTimeout(3000);
            }
            else {
                $("#OpenDilog").modal('hide');
                noty({ text: data.Error, layout: 'topRight', type: 'error' }).setTimeout(3000);
            }
            window.table.ajax.reload();
        }


        function CreateVendor(id,type) {
            debugger;
            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
            div.load("/RegisterView/CreateUser?UserId="+id + "&utype=" + type, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }

        function ChangeToCredit(type) {
            debugger;
            var flist = [];
            $('#RegUsers tr #chkCr').each(function () {                
                
                    var data = window.table.row($(this).parents('tr')).data();                 
                flist.push({ Pk_Register_Id: data.Pk_Register_Id, Have_Credit :$(this).is(':checked') });
                              
            });
            if (flist.length <= 0) {
                alert('Please select atleast one user.');
                return true;
            }
            $.ajax({
                type: "POST",
                url: '/RegisterView/AllowCredit',
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify({ 'lst': flist }),
                dataType: "json",
                success: function (data) {
                    ModalResponce(data, 'Success');                    
                    //ResetForm();
                },
                error: function (xhr) {
                    alert(xhr);
                }

            });
}

</script>

