﻿@model OzoneUI.Models.CountryModels

@{
    ViewBag.Title = "Create Country";
}



<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Country Master</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        @using (Html.BeginForm("SaveCountry", "CountryView", FormMethod.Post, new { role = "form", id = "saveForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="panel-body">

                                @Html.ValidationSummary(true)

                                @Html.HiddenFor(model => model.Pk_Country_Id)




                                <div class="form-group">
                                    @Html.LabelFor(model => model.Country_Name, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Country_Name, new { @class = "form-control" })
                                        <span class="help-block"> @Html.ValidationMessageFor(model => model.Country_Name)</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Country_Code, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Country_Code, new { @class = "form-control" })
                                        <span class="help-block"> @Html.ValidationMessageFor(model => model.Country_Code)</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">

                                        <button type="submit" id="savebutton" class="btn btn-info mb-control">Submit</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div id="msg" style="color:red"></div>

                        @*<div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#savebutton").button();
    $("body").unbind().on('submit', '#saveForm', function (e) {
        
        e.preventDefault();
        SaveCountry();
    });

    function SaveCountry() {
        $('#savebutton').button('loading');
        

        //Validation
        if ($('#Country_Name').val().trim() == '' ||
            $('#Country_Code').val().trim() == '') {
            $('#msg').html('<div class="failed">All fields are required.</div>');
            $('#savebutton').button('reset');
            return false;
        }

        var Country = {
            Country_Name: $('#Country_Name').val().trim(),
            Country_Code: $('#Country_Code').val().trim(),
            Pk_Country_Id: $('#Pk_Country_Id').val() == '' ? '0' : $('#Pk_Country_Id').val()

        };
        //Add validation token
        Country.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        //Save Contact
        $.ajax({
            url: '/CountryView/SaveCountry',
            type: 'POST',
            data: Country,
            dataType: 'json',
            success: function (data) {
                $('#savebutton').button('reset');
                $('#msg').html('');
                if (data.status) {
                    ModalResponce(data.message, true);
                }
                else {
                    ModalResponce(data.message, false);
                }
                //if (data.status) {
                //    $('#ContactID').val('');
                //    $('#ContactPerson').val('');
                //    $('#ContactNo').val('');
                //    $('#CountryID').val('');
                //    $('#StateID').val('');
                //    LoadContacts();
                //    $dialog.dialog('close');
                //}
            },
            error: function () {
                $('#savebutton').button('reset');
                
                $('#msg').html('<div class="failed">Error! Please try again.</div>');
            }
        });
    }
</script>